 /* global */
	html, body {
		position: relative;
		height: 100%;
	}

	body {
		box-sizing: border-box;
		background-color: #fff;
		padding: 0;
	}
	body * {
		box-sizing: inherit;
	}

	img {
		max-width: 100%;
	}

	a {
		outline: none;
	}


/* page-wrapper */
	.page-wrapper {
		position: relative;
		min-height: 100%;
		overflow: hidden;
	}


	


/* page-header */
	.page-header {
		position: relative;
	}

	.head-upper {
		background: #2c3d4e;
		border-bottom: 1px solid #4c5d6e;
	}

	.head-upper__inner {			
		padding: 5px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.head-upper__location {
		font-family: Open Sans Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #ccced1; 
	}
	.head-upper__location img {
		position: relative;
		top: 2px;
	}

	.head-upper__rightSide {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.head-upper__rightSide>* {
		margin: 0 10px;
	}

	.wrapper-lang {
		cursor: pointer;
		position: relative;	
		font-family: Open Sans Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #808b95;
    position: relative;
    top: 4px;
	}
	.wrapper-lang img,
	.menu-media__lang-div img {
		margin-right: 5px; 
	}
	.wrapper-lang__active,
	.wrapper-lang__choose a,
	.menu-media__lang-div a {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
    	-webkit-box-align: center;
    	-webkit-align-items: center;
    	    -ms-flex-align: center;
    	        align-items: center;
	}
	.wrapper-lang:hover .wrapper-lang__choose {
		-webkit-transform: scale(1);
		        transform: scale(1);
		-webkit-transition: 0.3s;
		transition: 0.3s;
		-webkit-transform-origin: top;
		        transform-origin: top;
	}

	.lang-flag {
	    width: 16px;
	    position: relative;
	}

	.wrapper-lang__choose {
		-webkit-transform: scale(0);
		        transform: scale(0);
		position: absolute;
		top: 100%;
		right: 0;
		width: 75px;
		background: #2c3d4e;
		z-index: 2;
	}

	.wrapper-lang__choose ul {
		list-style-type: none;
		position: relative;
		padding: 0px;
		margin: 0px
	}
	.wrapper-lang__choose li {
		padding: 8px 10px;
	}
	.wrapper-lang__choose li:hover {
		background-color: #9db3c8;
	}
	.wrapper-lang__choose li:active {
		background-color: #c89d9d;
	}
	.wrapper-lang__choose a {
		text-decoration: none;
		color: #808b95;
		width: 100%;
	}
	.wrapper-lang__choose span {
		display: inline-block;
	}

	.wrapper-lang:hover .wrapper-lang__choose {
		cursor: pointer;
	}
	
	.social {
		position: relative;
		top: 2px;
	}
	.social__link--vk {
		fill: #fcd82a;
    fill-opacity: 0;
    stroke: #808b95;
    stroke-linejoin: round;
    stroke-width: 1px;
    text-decoration: none;
	}
	.social__link--fb {
		fill: #fcd82a;
    fill-opacity: 0;
    stroke: #808b95;
    stroke-linejoin: round;
    stroke-width: 1px;
    text-decoration: none;
	}
	.social__link--google {
    fill: #fcd82a;
    fill-opacity: 0;
    stroke: #808b95;
    stroke-linejoin: round;
    stroke-width: 1px;
    text-decoration: none;
	}
	.social__link {
		border-radius: 50%;
	}
	.social__link:hover {
		background: #ffffff;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.social__link:active {
		background: #fcd82a;
	}

	.head-lower {
		background: #33475a;
	}
	.head-lower__inner {		
		padding: 20px 5px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.head-lower__description {
		font-family: Raleway Light, Geneva, Arial, Helvetica, sans-serif; 
		font-size: 13px;
		color: #939ea8; 
		text-transform: uppercase;
		letter-spacing: 1px;
		position: relative;
	}
	.head-lower__description:before {
		content: '';
		width: 1px;
		height: 33px;
		display: block;
		background: #4e5d6b;
		position: absolute;
		left: -14px;
	} 
	.head-lower__order-but {
		width: 205px;		 	
	}
	.head-lower__order-but a {
		display: inline-block;
		background-color: #fcd82a;
		border-radius: 6px;
		padding: 15px 30px;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Raleway ExtraBold, Geneva, Arial, Helvetica, sans-serif; 
		font-size: 13px;
		color: #2c3d4e;
		letter-spacing: 1px;
		position: relative;
		text-align: center;
	}
	.head-lower__order-but a:hover {
		background-color: #fc942c;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.head-lower__order-but a:active {
		top: 2px;
	}
	

	.head-lower__call {
		-webkit-align-self: flex-start;
		    -ms-flex-item-align: start;
		        align-self: flex-start;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		    -ms-flex-align: end;
		        align-items: flex-end;
	}
	.menu-number {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.menu-number__icon {
		display: inline-block;
		width: 35px;		
		margin: 0 10px;
	}
	.menu-number__icon img {
		max-height: 35px;
	}
	.menu-number__number {
		display: inline-block;
	}
	.menu-number--hidden {
		margin: 10px 0px;
	}
	.menu-number__hidden {
		transform: scale(0);
		position: absolute;
	    top: 100%;
	    right: 0;
	    width: 100%;
	    background: #33475a;
	    z-index: 2;
	}
	.head-lower__call-numbers:hover .menu-number__hidden {
		transform: scale(1);
		transition: 0.3s;
	    transform-origin: top;
	}
	.head-lower__call-numbers {
		position: relative;
	}
	.head-lower__call-numbers a {
		font-family: Open Sans Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #d7d7d7;
		text-decoration: none;
		margin: 0 10px;
		position: relative;
	    display: flex;
    	align-items: center;
	}
	.head-lower__call span {
		font-family: Open Sans Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #ffffff;
	}
	.head-lower__call-numbers a:hover .menu-number__number {
		border-bottom: 1px solid #ffffff;
		-webkit-transition: 0.3s;
		transition: 0.3s;
		color: #ffffff;
	}
	.head-lower__call-numbers a:active {
		top: 2px;
	}


	.head-lower__call--popup a {
		font-family: Segoe UI Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #019ff2; 
		border-bottom: 1px dashed #019ff2;
		margin-right: 10px; 
		text-decoration: none;
	}
	.head-lower__call--popup a:hover {
		color: #f43e01; 
		border-bottom: 1px dashed #f43e01;  
		-webkit-transition: 0.3s;  
		transition: 0.3s;
	}
	.head-lower__call--popup a:active {
		color: #fcd82a; 
		border-bottom: 1px dashed #fcd82a;  
	}

	

	
	.header-callback {
		fill: #fcd82a;
	}
	.header-callback:hover {
		fill: #fc602c;	
		-webkit-transform: scale(1.2);	
		        transform: scale(1.2);
		-webkit-transition: 0.3s;
		transition: 0.3s;						
	}
	.header-callback:active {
		fill: #fc2c2c;							
	}

	.head-menu {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		background: #ffffff;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	}
	.head-menu.fixedMenu {
		position: fixed;
		z-index: 500;
		width: 100%;
		top: 0px;
		right: 0%;
		left: 0%;
	}
	.head-menu ul {
		text-align: center;
		margin: 0 auto;
		padding-left: 0;
	}
	.head-menu li {		
		list-style-type: none;
		display: inline-block;
		padding: 15px 25px;
		position: relative;
	}
	.head-menu li.scroll {		
		padding: 18px;
	}
	.head-menu li a:hover {
		text-decoration: underline;
    text-shadow: 0px 0px 1px #666666;
    -webkit-transition: 0.3s;
    transition: 0.3s;
	}
	.head-menu li a:active {
		color: #fcd82a;
	}
	.head-menu li:before {		
		content: '';
		width: 1px;
		height: 15px;
		display: block;
		position: absolute;
		left: -3px;
		background: #b4b9bf;
	}
	.head-menu li:first-child::before {
		display: none;
	}
	.head-menu a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #273747;
	}
	.head-menuInner {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
    	-webkit-box-align: center;
    	-webkit-align-items: center;
    	    -ms-flex-align: center;
    	        align-items: center;
	}
	.menu-button-scroll {
		display: none;
	    margin-right: 10px;
	}
	.menu-button-scroll a {
	    text-decoration: none;
	    text-transform: uppercase;
	    font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
	    font-size: 11px;
	    color: #273747;
	    letter-spacing: 1px;
	    position: relative;
	    text-align: center;
	    display: inline-block;
	    background-color: #fcd82a;
	    border-radius: 6px;
	    padding: 10px 20px;
	}
	.menu-button-scroll a:hover {
	    background-color: #fc942c;
    	-webkit-transition: 0.3s;
    	transition: 0.3s;
	}
	.menu-button-scroll a:active {
		top: 2px;
	}
	.menu-media__menu,
	.menu-media__calc,
	.menu-media__lang,
	.menu-media__call {
		display: none;
		position: relative;
		top: 2px;
		padding: 4px;
	}
	.menu-media__box {
		height: 39px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	        -ms-flex-align: center;
	            align-items: center;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}
	.menu-media__title {
		font-size: 9px;
	}
	.menu-media img {
		width: 25px;
	}
	.menu-media__menu-div.open,
	.menu-media__lang-div.open,
	.menu-media__call-div.open {
		display: block;
	}
	.menu-media__menu {
		float: left;
	}
	.menu-media__calc,
	.menu-media__lang,
	.menu-media__call {
		float: right;
	}






/* page-container */
	.page-container {
		position: relative;
	}



	.slider-block {
		position: relative;
		max-width: 1920px;
		margin: 0 auto;
	}

	.slider-text {
		position: absolute;
		top: 0px;
		width: 440px;
		margin-left: 10%;
	}
	.slider-text h2 {
		font-family: Proba Pro Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 63.84px;
		color: #ffffff;
		margin: 40px 0;
		line-height: 1.2em;
		max-height: 2.4em;
		overflow: hidden;
	}
	.slider-text span {
		font-family: Proba Pro Bold, Geneva, Arial, Helvetica, sans-serif;
		text-transform: uppercase;
	}
	.slider-text p {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 18px;
		color: #ffffff;
		line-height: 1.2em;
		max-height: 4.8em;
		overflow: hidden;
	}
	.slider-button {
		width: 225px;
	}
	.slider-button a {
		display: inline-block;
		background-color: #fcd82a;
		border-radius: 5px;
		padding: 20px 60px;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif; 
		font-size: 16px;
		color: #000000;
		letter-spacing: 1px;
		position: relative;
		top: 30px;
		text-align: center;
	}
	.slider-button a:hover {
		background-color: #fc942c;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.slider-button a:active {
		top: 32px;
	}
	.slider__arrowRight {
		position: absolute;
		top: 50%;
		right: 2%;
		z-index: 3;
		margin-top: -21.5px; 
	}
	.slider__arrowLeft {
		position: absolute;
		top: 50%;
		left: 2%;
		z-index: 3;
		margin-top: -21.5px; 
	}


	
	.services {
		background: url(..//images/services-back.jpg) repeat-x;
		padding: 25px 0px 55px;
	}
	.services h2{
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 40px;
		color: #000000;
		text-align: center;
		text-transform: uppercase;
	}
	.services__tile {
		width: 24%;
		margin-left: 1%;
		float: left;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-top: 15px;
	}
	.services__image {
		width: 142px;
		height: 142px;
		border: 2px solid #f9f9f9;
		border-radius: 50%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.services p {
		font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #414042;
		max-width: 200px;
		text-align: center;
		margin: 30px 0px;
	}
	.services a {
		color: #414042;
		text-decoration: none;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.services a:hover .services__image {
		border: 6px solid #fcd82a;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.services a:hover {
		text-decoration: underline;
	}
	.services a:active .services__image {
		border: 6px solid #1387e5;
	}
	.services__button {
		clear: both;
		width: 295px;
		margin: 115px auto;				
	}
	.services__button a {
		display: inline-block;
		background-color: #ffffff;
		border: 2px solid #414042;
		border-radius: 6px;
		padding: 15px 68px;     
		text-decoration: none;
		text-transform: uppercase;
		font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif; 
		font-size: 16px;
		color: #414042;
		letter-spacing: 1px;
		position: relative;
		top: 75px;
		text-align: center;
	}
	.services__button a:hover {
		color: #ffffff;
		background-color: #414042;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.services__button a:active {
		top: 77px;
	}

	.video-block {
		background: #203a55 url(../images/video-back.jpg) no-repeat;
		background-position: 50% 0%;
		padding: 70px 0;
	}
	.video-logo {
		margin: 0 auto 45px;
		width: 184px;
	}
	.video-block h2 {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 30px;
		color: #b4b9bf;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		margin-left: 5%;
		margin-right: 5%;  
	}

	.video-play {
		width: 48px;
		margin: 40px auto 5px;
		fill: #ffffff;
		fill-rule: evenodd;
	}
	.video-play:hover {
		fill: #808080;
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
		-webkit-transition: 0.3s;
		transition: 0.3s;	
	}
	.video-play:active {
		fill: #000000;
	}

	.video-block p {		
		text-align: center;
	}
	.video-block a {
		font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #ffffff;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-decoration: none;
	}
	.video-block a:hover {
		letter-spacing: 2px;
		text-decoration: underline;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.video-block a:active {
    	text-shadow: 0px 0px 5px white;	
	}

	.advantages {
		background: #ffffff url(../images/advantages-back.jpg) repeat-x;
		background-position: 0 90%;
	}
	.advantages h2 {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 40px;
		color: #000000;
		text-align: center;
		text-transform: uppercase;
		margin-top: 0px;
    padding-top: 75px;
	}
	.advantages p {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 18px;
		color: #414042;
		width: 215px;
	}
	.advantages__tile {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 20px 10px;
	}
	.advantages__tile p {
		margin: 0px;
	}
	.advantages__tile--left {
		float: left;
		clear: both;
	}
	.advantages__tile--right {
		float: right;
	}
	.advantages__image {
		width: 75px;
		height: 75px;
		border: 2px solid #fcd82a;
		border-radius: 50%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-right: 25px;
		background: #fff;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
	}
	.advantages-window {
		width: 486px;
		margin: 0 auto;
		max-width: 75%;
	}
	.advantages h3 {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 35px;
		color: #000000;
		width: 400px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 160px; 
	}
	.advantages h3 span {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
	}
	.advantages__button {
		width: 315px;
		margin: 0 auto;
	}
	.advantages__button a {	
		display: inline-block; 	
		background-color: #fcdb4b;
		border: 2px solid #414042;
		border-radius: 6px;
		padding: 20px 0px; 
	    text-decoration: none;
	    text-transform: uppercase;
	    font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif;
	    font-size: 16px;
	    color: #414042;
	    letter-spacing: 1px;    
		position: relative;
		bottom: 110px;
		text-align: center;
		width: 100%;
	}
	.advantages__button a:hover {
		color: #fcdb4b;
		background-color: #414042;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.advantages__button a:active {
		bottom: 108px
	}
	.advantages-city {
		width: 100%;
		background: url(../images/advantages-city.png) repeat-x;
		background-position: 55% 95%;
	}


	.articles-inner {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
  		padding: 0 10px;
	}
	.articles__news {
		width: 35%;
		position: relative;		
	}
	.articles__news:after {
		content: '';
		position: absolute;
		width: 1px;
		height: 440px;
		background: #f0f0f1;
		left: 80%;
		top: 5%;
	}
	.articles__projects {
		width: 40%;
		position: relative;
	}
	.articles__projects:after {
		content: '';
		position: absolute;
		width: 1px;
		height: 440px;
		background: #f0f0f1;
		left: 85%;
		top: 5%;
	}
	.articles__info {
		width: 25%;
	}
	.articles__info a {
		text-decoration: none;
	}
	.articles__info p:hover {
		color: #f43e01;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.articles__info p:active {
		color: #fcd82a;
	}
	.articles h4 {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 26px;
		color: #000000;
	}
	.articles p {
		font-family: Roboto Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #494949;
  	margin: 0px 0px 6px;  
    line-height: 1.2em;
    max-height: 3.6em;
    overflow: hidden; 
	}
	.news__text {
		width: 160px;
  	margin-left: 100px; 
	}
	.news {
		clear: both;
		margin-bottom: 35px;
    max-height: 55px;
	}
	.news__date {
		font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #414042;
		width: 70px;
		height: 70px;
		text-align: center;
		border: 2px solid #fcd82a;
		border-radius: 3px; 
		float: left;
	}
	.news__date span {
		font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif;
		font-size: 30px;
		color: #ffd300;
		line-height: 40px;
	}
	.news__date:hover {
		border-color: #fc942c;
	}
	.news__date:hover span {
		color: #fc942c;
	}
	.news__date:active {
		border-color: #fc2c2c;
	}
	.news__date:active span {
		color: #fc2c2c;
	}

	
	.project {
		clear: both;
	    height: 105px;
	    margin-bottom: 25px;
	}
	.project-image {
		width: 146px;
		height: 98px;
		background: url(../images/no-image.jpg) no-repeat;
		background-size: 100% 100%;
		border: 3px solid #f6f6f6;
		border-radius: 4px; 
		float: left;
	}
	.project__text {
		width: 160px;
    	margin-left: 175px; 
	}
	.project-image:hover {
		border: 3px solid #fc942c;
	}
	.project-image:active {
		border: 3px solid #fc2c2c;
	}

	.articles a {
		font-family: Open Sans Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #007ecb;		
	}
	.articles a:hover,
	.articles__email p:hover {
		color: #f43e01;  
		-webkit-transition: 0.3s;  
		transition: 0.3s;
	}
	.articles a:active,
	.articles__email p:active {
		color: #fcd82a; 
	}
	.articles__button {
		height: 228px;
		width: 228px;
		border: 15px solid #fcda41;
		border-radius: 50%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 24px 0px;
	}
	.articles__button p {
		text-decoration: none;
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 26px;
		color: #000000;
	    width: 180px;
    	margin: 0 auto;
	}
	.articles__button span {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
	}
	
	.articles__email {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		margin: 0px 0px 20px;
	}
	.articles__email img {
		margin: 0 15px;
	}
	.articles__email p {
		font-family: Open Sans Regular, Geneva, Arial, Helvetica, sans-serif;;
		font-size: 13px;
	    margin: 0;
	}
	.articles__email a {
		color: #424448;
		text-decoration: none;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
    	-webkit-box-align: center;
    	-webkit-align-items: center;
    	    -ms-flex-align: center;
    	        align-items: center;
	}
	.articles__call {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.articles__call img {
		-webkit-align-self: flex-start;
		    -ms-flex-item-align: start;
		        align-self: flex-start;
		position: relative;
		top: 12px;
		margin: 0 15px;
	}
	.articles__call ul {
		list-style-type: none;
		padding: 0;
	}
	.articles__call a {
		font-family: Open Sans Semibold, Geneva, Arial, Helvetica, sans-serif;;
		font-size: 18px;
		color: #424448;
		text-decoration: none;
	}



	.seo {
		background-color: #f7f7f7;
		padding: 10px 5% 60px;
	}
	.seo h3 {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 26px;
		color: #000000;
	}
	.seo p {
		font-family: Open Sans Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #6c6d6f;
	}





/* page-footer */
	.page-footer {
		position: relative;
		background: #2c3e50; 	
		padding: 20px 0;	
	}

	.page-footer__inner {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.page-footer h6 {
		font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #ffffff;
		font-weight: 400;
		margin: 10px 0;
	}
	.footer-navigation ul,
	.footer-navigation a {
		font-family: Open Sans Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #9ba7b1;
		text-decoration: none;
	}
	.footer-navigation a:hover {
		color: #f43e01;  
		-webkit-transition: 0.3s;  
		transition: 0.3s;
	}
	.footer-navigation a:active {
		color: #fcd82a; 
	}
	.footer-navigation h6 {
		margin-bottom: 22px;
	}
	.footer-navigation ul {
		padding-left: 15px;
	}
	.footer-navigation li {
		margin: 4px 0;
	}

	.footer__copyright {
		font-family: Open Sans Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #5d6874;
    	margin: 30px 0;
    	width: 300px;
	}
	.footer__map a {
		font-family: Open Sans Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #9ba7b1;
	}
	.footer__map a:hover {
		color: #f43e01;  
		-webkit-transition: 0.3s;  
		transition: 0.3s;
	}
	.footer__map a:active {
		color: #fcd82a; 
	}
	.footer__contacts {
		font-family: Open Sans Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #9ba7b1;
	}
	.footer__contacts a:hover {
		text-decoration: underline;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.footer__contacts a:active {
		color: #ffffff;
	}
	.footer__contacts img {
		-webkit-align-self: center;
		    -ms-flex-item-align: center;
		        align-self: center;
		margin-right: 24px;
	}
	.footer__contactsBlock {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}	
	.footer__contactsBlock--image {
		position: relative;
		bottom: 30px;
	}
	.footer__contacts ul {
		font-family: Open Sans Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 18px;		
		list-style-type: none;
		padding-left: 0px;
	}
	.footer__contacts li {
		margin: 6px 0;
	}
	.footer__contacts a {
		color: #9ba7b1;
		text-decoration: none;
	}
	.footer__address p {
		margin: 22px 0;
	}
	.footer__address {
		font-family: Open Sans Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #9ba7b1;
		width: 160px;
	}
	.footer__social p {
		font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #fdfdfd;
    	margin: 10px 0;
    	text-align: center;
	}
	.footer__icons {
		position: relative;
	}
	.footer__icons img:hover {
    	-webkit-transform: scale(1.2);
    	        transform: scale(1.2);
    	-webkit-transition: 0.3s;
    	transition: 0.3s;
	}
	.footer__icons img {
		width: 44px;
    	margin: 0 4px 40px;
	}
	.footer__wezom p {
		font-family: Open Sans Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #5d6874;
		width: 105px;
    	margin-right: 4px;
	}
	.footer__wezom a {
		text-decoration: none;	
		display: -webkit-box;	
		display: -webkit-flex;	
		display: -ms-flexbox;	
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		justify-content: space-around;
	}
	.footer__wezom a:hover img {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.footer__wezom a:hover p {
		color: #ffffff;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}






/* page-size */
	.page-size {
		position: relative;
		max-width: 1240px;
		margin: 0 auto;	
	}

	.page-size:after,
	.-clear-after:after {
		content: '';
		display: block;
		height: 0;
		clear: both;
	}






/* page-popups */
	.popup-wrapper {
		display: none;
	}

	.popup {
		background: #ffffff;
		max-width: 460px;	
		border-radius: 5px;
    	margin: 0 auto;	
    	position: relative;
	}
	.popup-upperBlock {
		text-align: center;
		border-bottom: 1px solid #f7f7f8;
		padding: 35px 50px 0;
	}
	.popup-lowerBlock {
		padding-top: 35px;
	}

	.popup h4 {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 30px;
		color: #000000;
		margin: 0;
	}

	.popup p {
		font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #414042;    		
	}


	.popup__inputBlock {
		width: 315px;
		margin: 0 auto;
		position: relative;
	}
	.popup label {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #000000;
	    margin: 10px 0px;
	    display: inline-block;
	}
	.popup__input {
		background-color: #f7f7f8;
		border: 1px solid #e6e7e8;
		border-radius: 4px;
		width: 100%;
		height: 45px;
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #000000;
		padding: 0 15px;
		outline: 0;
	}
	.popup textarea {
		resize: none;
		height: 105px;
		padding: 15px;
	}
	.popup__button {
		width: 240px;
		margin: auto;
		padding: 35px 0;
	} 
	.popup__button--w220 {
		width: 220px; 
	}
	.popup__button a {
		display: block;
		background-color: #fcd82a;
		border-radius: 4px;
		padding: 20px;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #000000;
		letter-spacing: 1px;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		cursor: pointer;
	}
	.popup__button a:hover {
		background-color: #fc942c;
	}
	.popup__button a:active {
		top: 2px;
	}





	/* page-video(fullscreen) */
	.video-fullscreen .mfp-iframe-holder {
	    padding-top: 0px;
	    padding-bottom: 0px;
	}	 
	.video-fullscreen .mfp-iframe-holder .mfp-content {
	  max-width: 100%;
	}
	.video-fullscreen .mfp-wrap {
	    top: 0;
	    position: fixed;
	}
	.mfp-bg.video-fullscreen {
    background: #000000;
    opacity: 1.0;
	}
	.video-fullscreen .mfp-iframe-holder .mfp-close {
	    top: 0px; 
	}
	.video-fullscreen .mfp-iframe-scaler button.mfp-close {
		right: 8px;
		width: 44px;
	}
	.video-fullscreen .mfp-iframe-scaler {
    padding-top: 48.25%;
	}




	
	.zoom-in .mfp-preloader, .zoom-in .mfp-arrow, .zoom-in .mfp-content { opacity: 0; transition: all 0.4s ease-in-out; -webkit-transform: scale(0.8); transform: scale(0.8); }

	/* animate in */
	.zoom-in.mfp-ready .mfp-preloader, .zoom-in.mfp-ready .mfp-arrow, .zoom-in.mfp-ready .mfp-content { opacity: 1; transition-timing-function: cubic-bezier(0.63, 0.55, 0.31, 1.5); -webkit-transform: scale(1) translateZ(0); transform: scale(1) translateZ(0); will-change: transform; }

	/* animate out */
	.zoom-in.mfp-removing .mfp-preloader, .zoom-in.mfp-removing .mfp-arrow, .zoom-in.mfp-removing .mfp-content { -webkit-transform: scale(0.8); transform: scale(0.8); opacity: 0; }

	/* Dark overlay, start state */
	.zoom-in.mfp-bg { opacity: 0.001; /* Chrome opacity transition bug */ transition: opacity 0.3s ease-out; }

	/* animate in */
	.zoom-in.mfp-ready.mfp-bg { opacity: 0.8; }

	/* animate out */
	.zoom-in.mfp-removing.mfp-bg { opacity: 0; }

/* BreadCrumbs */
	.breadcrumbs-inner {
		padding: 0 5px;
	}
	.breadcrumbs h2 {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 40px;
		margin: 18px 0px 56px;
		text-transform: uppercase;
	}
	.breadcrumbs ul {
		list-style-type: none;
		padding: 10px 0 0;
	}
	.breadcrumbs li {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 12px;
		display: inline-block;
	}
	.breadcrumbs li::after {
		content: ' >';
	}
	.breadcrumbs li:last-child::after {
		content: '';
	}




/* FAQ */
	ul.faqs-list {
		padding: 0;
		margin: 16px 0px 112px;
	}
	.faqs-list p {
		margin: 0;
	}
	.faqs-list__description {
		position: relative;	
		left: 30px;
		display: none;
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
    padding: 0px 30px 60px;
	}
	.faqs-list li {
		list-style-type: none;
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 26px;
	}
	.faqs-list li.active {
		background-color: #f7f7f8;
	}
	.faqs-list li:after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: #f7f7f8;
	}
	.faqs-list__title {
		position: relative;
		display: block;
	}
	.faqs-list__title:hover {
		color: #808080;
	}
	.faqs-list__title {
		cursor: pointer;
		display: inline-block;
		padding: 25px 0px 25px 20px;
	}
	.faqs-list__title::before {
		content: '+';
		display: inline-block;
		font-size: 22px;
		width: 25px;
		height: 25px;
		position: relative;
		margin-right: 30px;
		color: #ffffff;
		background-color: #fcd93b;
		text-align: center;
		position: relative;
		top: 0px;
		bottom: 0px;
	}
	li.active .faqs-list__title::before {
		content: '-';
	}




/* 02-OUR-SERVICES */
	.our-servicesInner {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-justify-content: space-around;
		    /*-ms-flex-pack: justify;*/
		        justify-content: space-around;
	}
	.our-servicesBlock {
		width: 295px;
		padding: 0 0.5%;
	}
	.our-servicesBlock a {
		text-decoration: none;
	}
	.our-servicesBlock a:hover {
		text-decoration: underline;
		color: #000000;
	}
	.our-services__photo {
		position: relative;
	}
	.our-services__photo__inner {
		height: 202px;
		background: url(../images/no-image.jpg) no-repeat;
		background-size: 100% 100%;
	}
	.our-services__photo:after {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
	.our-servicesBlock a:hover .our-services__photo:after {
		background: rgba(0, 0, 0, .5);
	}
	.our-services__icon {
		background: #fcd93b;
		width: 74px;
		height: 74px;
		margin: 0 auto;
		border-radius: 50%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	        -ms-flex-align: center;
	            align-items: center;
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: -35px;
	    z-index: 5;
	}
	.our-services__title {
		font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #414042;
		text-align: center;
	    margin: 68px 0px 0px;
	}
	.our-services__description {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #6c6d6f;
		text-align: center;
		margin: 30px 0px 45px;
	    line-height: 1.2em;
    	max-height: 3.6em;
    	overflow: hidden;
	}
	.our-services__button {
	    width: 295px;
	    margin: 35px auto 90px;
	}
	.our-services__button a {
	    display: inline-block;
	    background-color: #ffffff;
	    border: 2px solid #414042;
	    border-radius: 6px;
	    padding: 15px 0;
	    text-decoration: none;
	    text-transform: uppercase;
	    font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif;
	    font-size: 16px;
	    color: #414042;
	    letter-spacing: 1px;
	    position: relative;
	    text-align: center;
	    width: 100%;
	}
	.our-services__button a:hover {
		color: #ffffff;
		background-color: #414042;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.our-services__button a:active {
		top: 2px;
	}



/* 03-USLUGA */
	.usluga {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #000000;
	}
	.usluga-back {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
		height: 372px;
		background: url(../images/no-image.jpg) no-repeat;
		background-size: 100% 100%;
		margin-bottom: 35px;
	}
	.usluga-back:before {
		content: '';
		background: rgba(0, 0, 0, .60);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.usluga-iconBlock {
		width: 50%;
		z-index: 10;
		position: relative;
	}
	.usluga-icon {
		width: 174px;
		height: 174px;
		border: 2px solid #7a7e84;
		border-radius: 50%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: auto;
	}
	.usluga-text {
		width: 50%;
		color: #ffffff;
		z-index: 10;
		position: relative;
	}	
	.usluga-text:before {
		position: absolute;
		content: '';
		background: url(../images/usluga-arrowRight.png) no-repeat;
		height: 142px;
		width: 11px;
		top: 8%;
	}
	.usluga-text p {
		padding: 0 70px;
	}
	.usluga__photo {
		float: right;
	}
	.usluga__text-bold {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		text-transform: uppercase;
	}
	.usluga ul {
		list-style-type: none;
		padding: 0px;
	}
	.usluga li {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 10px 0px;
	}




	.why__title {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 40px;
		text-transform: uppercase;
		text-align: center;
	}
	.why__description {
		font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #414042;
		text-align: center;
    	margin-bottom: 75px;
    	width: 100%;	
	}
	.why-iconsBlock {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center; 
		-webkit-flex-basis: 230px; 
		    -ms-flex-preferred-size: 230px; 
		        flex-basis: 230px;
	}
	.why-icons {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
	}
	.why__icon {
		width: 142px;
		height: 142px;
		border: #f4f4f4 solid 2px;
		border-radius: 50%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center; 
	}
	




	.contacts {
		margin-bottom: 60px;
	}
	.contacts-wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.contacts-inner {
		width: 65%;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
    	padding: 0 20px;
	}	
	.contacts__block {
		width: 50%;
	}
	.contacts__title {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		text-transform: uppercase;
		margin: 0 0 20px;
	}
	.contacts__description {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		width: 260px;
		margin: 0 0 60px;
	}
	.contacts__ul {
		margin-bottom: 60px;
	}
	.contacts__ul a {
		color: #000000;
		text-decoration: none;
	}
	.contacts__ul a:hover {
		color: #f43e01;  
		-webkit-transition: 0.3s;  
		transition: 0.3s;
	}
	.contacts a:active {
		color: #fcd82a;
	} 
	.contacts ul {
		list-style-type: none;
		padding: 0px;
		font-family: Open Sans Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 18px;
		margin: 0px;
	}
	.contacts__ul {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.contacts__ul img {
		margin-right: 24px;
	}
	.contacts__social img {
		position: relative;
	}
	.contacts__social img:hover {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
	.contacts__social img:active {
		top: 2px;
	}
	.contacts__form {
		width: 35%;
	}
	.contacts__form:before {
		content: '';
		display: inline-block;
		background: url(../images/contactsArrow-right.png) no-repeat;
		height: 392px;
		width: 11px;
	    float: left;
	    padding-right: 92px;
	}
	.contacts__inputBlock {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		position: relative;
	}
	.contacts__input {
		background-color: #f7f7f8;
		border: 1px solid #e6e7e8;
		border-radius: 4px;
		width: 315px;
		padding: 0 15px;
		height: 40px;
	}
	.contacts__inputBlock input {
		margin: 5px 0px 10px;
	}
	.contacts__inputBlock textarea {
	    resize: none;
	    height: 100px;
	    padding: 5px 15px;
	}
	.contacts__button a {
		display: inline-block;
		background-color: #fcd82a;
		border-radius: 6px;
		padding: 20px 60px;
		margin-top: 20px;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #000000;
		letter-spacing: 1px;
		position: relative;
	}
	.contacts__button a:hover {
		background-color: #000000;
		color: #fcd82a; 
	}
	.contacts__button a:active {
		top: 2px;
	}





	#map {
		width: 100%;
		height: 700px;
		max-height: 70vh;
	}




	table.price-table {
		padding: 0 20px;
		border-spacing: 0;
		width: 100%;
		margin-bottom: 36px; 
	}
	table.price-table th {
		background: #33475a;
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		color: #ffffff;
	    text-align: left;
	    padding: 20px 50px;
	}
	table.price-table td {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16px;
		padding: 25px 50px;
	}
	table.price-table tr:nth-child(2n)  {
		background: #ffffff;
	}
	table.price-table tr:nth-child(2n+3) {
		background: #f7f7f8;
	}
	table.price-table .table-download {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #33475a;
	}
 	table.price-table .table-download:hover {
		color: #f43e01;
		transition: .3s;
	}
	table.price-table .table-download:active {
		color: #fcd82a;
	}
 	table.price-table .table-download span {
		padding-top: 5px;
	}
	 table.price-table {
		 padding: 0 20px;
		 border-spacing: 0;
		 width: 100%;
		 margin-bottom: 36px;
		 border: 0;
	 }
	 table.price-table th {
		 background: #33475a;
		 font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		 font-size: 16px;
		 color: #ffffff;
		 text-align: left;
		 padding: 20px 50px;
	 }
	 table.price-table td {
		 font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		 font-size: 16px;
		 padding: 25px 50px;
	 }
	 table.price-table tr {
		 border: 0;
	 }
	 table.price-table tr:nth-child(2n)  {
		 background: #ffffff;
	 }
	 table.price-table tr:nth-child(2n+3) {
		 background: #f7f7f8;
	 }




	.warning {
		text-align: center;
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 20px;
	}




	.portfolio__menu {
		margin-bottom: 40px;
	}
	ul.portfolio__menu {
		padding: 0px 10px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
	}
	.portfolio__menu li {
		list-style-type: none;
		min-width: 100px;
   		margin: 18px 0px;	
	}
	.portfolio__menu a {
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 13px;		
		color: #273747;
		text-decoration: none;
		text-transform: uppercase;	
		padding: 18px 16px;
		border: 2px solid transparent;
		border-radius: 5px;
	}
	.portfolio__menu li.active a {
		background: #fcd82a;
	}
	.portfolio__menu a:hover {
		border-color: #fcd82a;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.portfolio__block {
		display: none; 
	}
	.portfolio__block.active {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around; 
	}
	.portfolio__block a {
		text-decoration: none;
		
	}
	.portfolio__tile {	
		position: relative; 	
		width: 295px;
		height: 251px;
		margin: 10px 0;
		background: url(../images/no-image.jpg) no-repeat;
		background-size: 100% 100%;
	}
	.portfolio__more {
		display: none;
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.portfolio__tile:hover .portfolio__title,
	.portfolio__tile:hover .portfolio__description {	
		display: none;
	}
	.portfolio__tile:hover .portfolio__more {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.portfolio__tile:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .75);
	}
	.portfolio__text {
		z-index: 10;
		position: relative;
		padding: 70px 20px 0;
		height: 100%;
	}
	.portfolio__title {
		font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		margin: 0;
	}
	.portfolio__description {
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
		font-family: 16px;
		color: #fff;
		text-align: center;
		z-index: 5;
	}
	.more__button {
	    width: 270px;
    	margin: 65px auto 65px;
	}
	.more__button a {
	    display: block;
	    background-color: #ffffff;
	    border: 2px solid #414042;
	    border-radius: 6px;
	    padding: 15px 0;
	    text-decoration: none;
	    text-transform: uppercase;
	    font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif;
	    font-size: 16px;
	    color: #414042;
	    letter-spacing: 1px;
	    position: relative;
	    text-align: center;
	    width: 100%;
	}
	.more__button a:hover {
		background-color: #414042;
		color: #ffffff;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.more__button a:active {
		top: 2px;
	}









	/*news*/
	.news__block{
	    padding: 0 20px;
	}
	.news__blockInner {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-justify-content: space-around;
		    -ms-flex-pack: distribute;
		        justify-content: space-around;
	}
	.news__item{
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		max-width: 295px;
		width: 25%;
		text-decoration: none;
		border: 2px solid transparent;
		margin-bottom: 20px;		
	}
	.news__item--basic {
		min-width: 240px;
	}
	.news__block .services__button {
		margin: 20px auto;
	}
	.news__block .services__button a {
		top: 0;
	}
	.news__item:hover .news__item__top__image:before {
		background-color: rgba(0, 0, 0, 0.6);
	}
	.news__item__top__image {
		padding-top: 70%;
		position: relative;
		background: url(../images/no-image.jpg) no-repeat;
		background-size: 100% 100%;
	}
	.news__item__top__image:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.news__item__bot {
		padding: 20px 4px;
	}
	.news__item__top__date {
		position: absolute;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		top: 20px;
		left: 10px;
		width: 76px;
		height: 76px;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		background-color: #ffcc00;
		border-radius: 8px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		border: 2px solid transparent;
	}
	.news__item__bot__title {
		font-size: 20px;
		color: #333333;
		font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
		margin-bottom: 20px;
	}
	.news__item__bot__text {
		font-size: 14px;
		color: #666666;
		font-family: Proxima Nova Light, Geneva, Arial, Helvetica, sans-serif;
	}
	.news__item__top__date__num {
		color: #fff;
		font-size: 30px;
		display: block;
		text-align: center;
		font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif; 
	}
	.news__item__top__date__text {
		color: #333333;
		font-size: 14px;
		text-transform: lowercase;
		display: block;
		text-align: center;
		font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
	}
	.new__description__image {
		background: url(../images/no-image.jpg) no-repeat;
		background-size: 100% 100%;
	}




	.similar {
		background: #f7f7f7;
	}
	.similar-inner {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-pack: justify;
    		-ms-flex-pack: justify;
        		justify-content: space-between;
	    -webkit-flex-wrap: wrap;
	        -ms-flex-wrap: wrap;
	            flex-wrap: wrap;
	}
	.similar__title {
		margin: 0;
		padding: 60px 0;
		font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
		font-size: 40px;
		text-transform: uppercase;
		text-align: center;
	}



	
	label.error {
		display: block;
	    font-family: Proxima Nova Lt, Geneva, Arial, Helvetica, sans-serif;
	    padding: 5px;
	    color: #ff0000;
	    position: absolute;
	    left: 0px;
	    background: #ffffff;
	    border: 1px solid #f50000;
	    border-radius: 6px;
	    z-index: 10;
	}
	label.error:after, label.error:before {
		bottom: 100%;
		left: 12%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	label.error:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #ffffff;
		border-width: 10px;
		margin-left: -10px;
	}
	label.error:before {
		border-color: rgba(245, 0, 0, 0);
		border-bottom-color: #f50000;
		border-width: 11px;
		margin-left: -11px;
	}
	.contacts__inputBlock label.error {
		left: initial;
		right: 0px;
	}





	.head-menuInner ul li.hideshow {
		cursor: pointer;
		position:relative;
	}
	.head-menuInner ul li.hideshow ul {
		position:absolute;
		background: #ffffff;
		display:none;
		left:0px;
	}
	.head-menuInner ul li.hideshow ul li:before {
		display: none;
	}




	.page404 {
		padding-top: 20px;
		width: 700px;
		margin: 0 auto;
	}
	.page404 p {
		text-align: center;
		font-size: 32px;
		color: #2c3d4e;
	}
	.page404 ul li {
		list-style-type: none;
	}




/* sitemap */
	.wSitemap ul li:before,.wSitemap ul li a {
	  padding: .07143em .7em;
	  border-radius: .25em;
	}

	.wSitemap ul li:hover > a,.wSitemap ul li:hover:before {
	  color: #fff;
	  text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	}

	.wSitemap ul li:before,.wSitemap ul li:after,.wSitemap ul li a {
	  transition: background-color .1s ease, color .1s ease;
	}

	.wSitemap {
	  font-family: Roboto, Helvetica, sans-serif;
	  font-size: 14px;
	  margin: 0 0 5em;
	}

	.wSitemap > ul {
	  overflow: hidden;
	  padding-left: 2em;
	}

	.wSitemap ul {
	  counter-reset: sitemap;
	  list-style-type: none;
	}

	.wSitemap ul ul {
	  margin-left: 2em;
	}

	.wSitemap ul li {
	  position: relative;
	  margin: .5em 0;
	}

	.wSitemap ul li:before {
	  content: counters(sitemap, '.') ' ';
	  counter-increment: sitemap;
	  float: left;
	  color: #666;
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	  background-color: #ddd;
	}

	.wSitemap ul li:after {
	  content: '|-';
	  position: absolute;
	  top: 0;
	  right: 100%;
	  width: auto;
	  height: 100%;
	  margin-right: .5em;
	  text-align: right;
	  white-space: nowrap;
	  opacity: .3;
	  border-bottom-left-radius: .5em;
	}

	.wSitemap ul li a {
	  display: block;
	  overflow: hidden;
	  text-decoration: none;
	  color: #666;
	  border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	  background-color: #d2dadd;
	  text-shadow: 0 -1px #fff;
	}

	.wSitemap ul li:hover > a {
	  text-decoration: underline;
	  background-color: #292a2b;
	}

	.wSitemap ul li:hover:after {
	  color: transparent;
	}

	.wSitemap ul li:hover:before,.wSitemap ul li:hover:after {
	  background-color: #b84800;
	}

	.wSitemap ul li li:hover > a {
	  background-color: #3a3b3d;
	}

	.wSitemap ul li li:hover:before,.wSitemap ul li li:hover:after {
	  background-color: #db5600;
	}

	.wSitemap ul li li li:hover > a {
	  background-color: #4c4d4f;
	}

	.wSitemap ul li li li:hover:before,.wSitemap ul li li li:hover:after {
	  background-color: #ff6400;
	}

	.wSitemap ul li li li li:hover > a {
	  background-color: #5e5f61;
	}

	.wSitemap ul li li li li:hover:before,.wSitemap ul li li li li:hover:after {
	  background-color: #ff7a24;
	}

	.wSitemap ul li li li li li:hover > a {
	  background-color: #6f7073;
	}

	.wSitemap ul li li li li li:hover:before,.wSitemap ul li li li li li:hover:after {
	  background-color: #ff8f47;
	}




	.services__image {
		fill: #fcd82a;
	}
	.services a:active .services__image {
		fill: #1387e5;
	}
	
	.our-services__icon {
		fill: #ffffff;
	}

	.usluga-icon {
		fill: #fcd82a;
	}