.wTxt {
    text-align: left;
    text-decoration: none;
    position: relative;
    color: #000;
    text-transform: none;
    font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.3em;
    margin: 0 0 1.3em;
    padding: 0 5px;
}

.wTxt a {
    text-decoration: underline;
    color: #43f
}

.wTxt a:visited {
    text-decoration: inherit;
    color: #609
}

.wTxt a:hover {
    text-decoration: underline;
    color: red
}

.wTxt a:active {
    text-decoration: underline;
    color: #000
}

.wTxt a[href^="http"],.wTxt a[href^="www."] {
    cursor: pointer;
    cursor: alias
}

.wTxt h1,.wTxt h2,.wTxt h3,.wTxt h4,.wTxt h5,.wTxt h6 {
    line-height: 1.2em;
    margin: 1em 0 0.7em
}

.wTxt h1 a,.wTxt h2 a,.wTxt h3 a,.wTxt h4 a,.wTxt h5 a,.wTxt h6 a {
    text-decoration: none
}

.wTxt h1:before,.wTxt h2:before,.wTxt h3:before,.wTxt h4:before,.wTxt h5:before,.wTxt h6:before {
    content: '';
    display: block;
    clear: both;
    height: 0
}

.wTxt h1:first-child,.wTxt h2:first-child,.wTxt h3:first-child,.wTxt h4:first-child,.wTxt h5:first-child,.wTxt h6:first-child {
    margin-top: 0
}

.wTxt h1 {
    font-size: 40px
}

.wTxt h2 {
    font-size: 36px
}

.wTxt h3 {
    font-size: 32px
}

.wTxt h4 {
    font-size: 28px
}

.wTxt h5 {
    font-size: 24px
}

.wTxt h6 {
    font-size: 20px
}

.wTxt ul,.wTxt ol,.wTxt dl,.wTxt pre,.wTxt p,.wTxt table,.wTxt blockquote,.wTxt address,.wTxt .iframeHolder {
    margin: 1.5em 0
}

.wTxt ul:first-child,.wTxt ol:first-child,.wTxt dl:first-child,.wTxt pre:first-child,.wTxt p:first-child,.wTxt table:first-child,.wTxt blockquote:first-child,.wTxt address:first-child,.wTxt .iframeHolder:first-child {
    margin-top: 30px;
}

.wTxt ul:last-child,.wTxt ol:last-child,.wTxt dl:last-child,.wTxt pre:last-child,.wTxt p:last-child,.wTxt table:last-child,.wTxt blockquote:last-child,.wTxt address:last-child,.wTxt .iframeHolder:last-child {
    margin-bottom: 0;
}

.wTxt blockquote {
    padding: 1.5em;
    font-style: italic;
    background-color: #f6f6f6;
    border-left: 3px solid #d8d8d8
}

.wTxt ul,.wTxt ol,.wTxt dl,.wTxt dd {
    margin-left: 1.5em
}

.wTxt ul ul,.wTxt ul ol,.wTxt ol ul,.wTxt ol ol {
    margin-top: 0
}

.wTxt li {
    list-style-position: inside;
    margin: 0.2em 0
}
.wTxt li:before {
    content: '';
    display: inline-block;
    background: url(/Media/pic/usluga-li.png);
    position: relative;
    width: 28px;
    height: 28px;
    margin-right: 16px; 
    flex-shrink: 0;
}

.wTxt ul li,.wTxt ol li {
    list-style-type: none;
}

.wTxt ul {
    list-style-type: disc
}

.wTxt ul ul {
    list-style-type: circle
}

.wTxt ul ul ul {
    list-style-type: square
}

.wTxt ol {
    list-style-type: decimal
}

.wTxt dl dt {
    font-style: italic
}

.wTxt table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #666
}

.wTxt table caption {
    margin-bottom: 0.5em;
    caption-side: top
}

.wTxt table tbody,.wTxt table tfoot,.wTxt table thead,.wTxt table tr,.wTxt table th,.wTxt table td {
    border: inherit
}

.wTxt table th,.wTxt table td {
    padding: 10px;
    line-height: 1em;
    text-align: left;
    vertical-align: top
}

.wTxt table th {
    text-align: center;
    font-weight: bold;
    background-color: #eee
}

.wTxt table.table-null,.wTxt table.table-null th,.wTxt table.table-null td {
    border-color: transparent
}

.wTxt table.table-zebra,.wTxt table.table-zebra th,.wTxt table.table-zebra td {
    border-color: transparent
}

.wTxt table.table-zebra tr:nth-child(even) {
    background-color: #ddd
}

.wTxt pre,.wTxt code,.wTxt kbd,.wTxt samp {
    font-style: normal;
    border-radius: 0.25em;
    border: 1px solid #777;
    background-color: #eee
}

.wTxt pre {
    line-height: 1.5em;
    -moz-tab-size: 4;
    tab-size: 4;
    padding: 1em
}

.wTxt code,.wTxt kbd,.wTxt samp {
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    line-height: 1.2em;
    font-weight: bold;
    display: inline-block;
    vertical-align: inherit;
    padding: 0 0.375em
}

.wTxt code {
    background-color: #0283bc
}

.wTxt kbd {
    background-color: #6baa2b
}

.wTxt samp {
    background-color: #41a2ff
}

.wTxt audio {
    display: block;
    width: 100%
}

.iframeHolder {
    width: 100%;
    position: relative;
    padding-top: 56.25%
}

.iframeHolder>iframe,.iframeHolder>video {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.wTxt img {
    max-width: 50%;
    margin: 0px 0px 20px 20px;
    height: auto;
}

@media only screen and (max-width: 740px) {
    .wTxt h1 {
        font-size:30px
    }

    .wTxt h2 {
        font-size: 27px
    }

    .wTxt h3 {
        font-size: 24px
    }

    .wTxt h4 {
        font-size: 21px
    }

    .wTxt h5 {
        font-size: 18px
    }

    .wTxt h6 {
        font-size: 15px
    }
}

@media only screen and (max-width: 600px) {
    .wTxt {
        line-height:1.3em;
        font-size: 13px
    }

    .wTxt h1 {
        font-size: 26px
    }

    .wTxt h2 {
        font-size: 23.92px
    }

    .wTxt h3 {
        font-size: 21.84px
    }

    .wTxt h4 {
        font-size: 19.76px
    }

    .wTxt h5 {
        font-size: 17.68px
    }

    .wTxt h6 {
        font-size: 15.6px
    }

    .wTxt ul,.wTxt ol,.wTxt dl {
        margin-left: 1em
    }

    .wTxt ul,.wTxt ol,.wTxt dl,.wTxt pre,.wTxt p,.wTxt table,.wTxt blockquote,.wTxt address,.wTxt .iframeHolder,.wTxt ul ul:last-child,.wTxt ul ol:last-child,.wTxt ol ul:last-child,.wTxt ol ol:last-child {
        margin-top: 1.3em;
        margin-bottom: 1.3em
    }
}

@media only screen and (max-width: 540px) {
    .wTxt img {
        width: 100%;
        max-width: 100%;
        margin: 0 auto 20px;
        float: none !important;
    }
}




.new__description .wTxt {
    font-family: Open Sans Light, Geneva, Arial, Helvetica, sans-serif;
}
.new__description .wTxt .new__description__image {
    width: 620px;
    max-width: 50%;
    height: 435px;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
}
.new__description .wTxt .new__description__date {
    position: absolute;
    display: flex;
    top: 20px;
    left: 10px;
    width: 76px;
    height: 76px;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00;
    border-radius: 8px;
    flex-direction: column;
    border: 2px solid transparent;
}
.new__description .wTxt .new__description__date__num {
    color: #ffffff;
    font-size: 30px;
    display: block;
    text-align: center;
    font-family: Futura PT Heavy, Geneva, Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
}
.new__description .wTxt .new__description__date__text {
    color: #333333;
    font-size: 14px;
    display: block;
    text-align: center;
    font-family: Proxima Nova Regular, Geneva, Arial, Helvetica, sans-serif;
    margin-top: 3px;
}
@media only screen and (max-width: 1024px) {
    .new__description .wTxt .new__description__image {
        height: 300px;
    }
}    
@media only screen and (max-width: 768px) {
    .new__description .wTxt .new__description__image {
        height: 250px;
    }
}  
@media only screen and (max-width: 600px) {
    .new__description .wTxt .new__description__date {
        width: 61px;
        height: 61px;
    }
    .new__description .wTxt .new__description__date__num {
        font-size: 24px;
    }
    .new__description .wTxt .new__description__date__text {
        font-size: 12px;
    }
}
@media only screen and (max-width: 480px) {
    .new__description .wTxt .new__description__image {
        height: 200px;
    }
}    
@media only screen and (max-width: 440px) {
    .new__description .wTxt .new__description__image {
        max-width: 100%;
        margin: 0 auto 20px;
    }
}




.wTxt ol{
  counter-reset: myCounter;
  list-style: none;
  padding: 0;
}
.wTxt ol li{
  position: relative;
  display: list-item;
  margin: 16px 20px;
}
.wTxt ol li:before {
  counter-increment: myCounter;
  content:counter(myCounter);
  position: absolute;
  color: white;
  background: #fcd93b;
  display: inline-block;
  text-align: center;
  margin: 0px -45px;
  line-height: 28px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
    .wTxt ol li:before {
        margin: 0px -38px;
    }
    .wTxt ol li {
        margin: 10px 24px;
    }
}