.login_page{
    background-image: url("../../pic/login-background.jpg");
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropzone {
    border-radius: 15px;
    border-style: dashed;
    border-color: #00a7d0;
}

.dropzone-preview{
    display: none;
}

.ulogin{
    display: none;
}

.bordered{
    border: 2px solid white;
}

.text-12px{
    font-size: 12px;
}

.text-12px li a{
    white-space: normal;
}

.ml-7px{
    margin-left: 7px;
}

.levels_select > option:nth-child(1) {
    background: red;
    color: white;
}

.levels_select > option:nth-child(2) {
    background: green;
    color: white;
}

.levels_select > option:nth-child(3) {
    background: yellow;
    color: black;
}

.select_yellow{
    background-color: yellow;
}

.select_green{
    background-color: green;
    color: white;
}

.select_red{
    background-color: red;
    color: white;
}

.box-ticket h3{
    font-size: 20px !important;
    margin: -10px 0 10px !important;
}

.box-ticket p {
    margin: -8px 0 10px !important;
}

.box-ticket .icon {
    font-size: 45px !important;
}

.box-ticket{
    margin: 0 !important;
}

.box-ticket .small-box-footer{
    padding: 0 !important;
    bottom: 0 !important;;
    left: 0 !important;
    width: 100% !important;
    position: absolute !important;
}

.box-padding-ticket{
    padding: 3px 10px !important;
}

.todo-img{
    max-width: 10%;
    border: 2px solid green;
}

.ml-117px{
    margin-left: 117px;
}

.ml-150px{
    margin-left: 150px;
}

.fl{
    float: left;
}

.progress-list{
    float: left;
    margin-left: 166px;
    width: 25%;
}

.todo-list .tickets-buttons{
    margin-right: 15px;
    margin-top: 9px;
}

.progress{
    background-color: #cecece !important;
}

.tickets-list li{
    margin: 15px 0;
}

.tickets-list .handle{
    line-height: 3;
    /*margin-top:11px !important;*/
}

.tickets-list .text{
    line-height: 15px;
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute !important;
    word-wrap: break-word !important;
}

.tickets-list .ml-117px{
    margin-top:8px !important;
}
.flex-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.full-width{
    flex-grow: 1;
    width: 100%;
}
.label-list-item{
    font-size: 150%;
    margin: 0 20px 20px 20px;
    cursor:pointer;
}
.label-list-item div{
    cursor:pointer !important;
}