.wpreloader_wraper,
.wpreloader_holder > div,
.wpreloader_holder {
    cursor: wait;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.ie .wpreloader_wraper,
.ie .wpreloader_holder > div,
.ie .wpreloader_holder {
    cursor: wait;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.wpreloader_removing.fade_preloader .wpreloader_wraper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .3s ease, opacity .3s ease;
    transition: visibility .3s ease, opacity .3s ease;
}
.wpreloader_holder {
    max-width: 68%;
}
.wpreloader_wraper {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.65);
    display: none;
}
.wpreloader_show {
    position: relative;
}
.wpreloader_show .wpreloader_wraper {
    display: block;
}
.wpreloader_block .wpreloader_wraper {
    background: none;
    position: fixed;
    z-index: 1050;
}
.wpreloader_block .wpreloader_wraper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    background-color: #000;
}

/* wpreloader_logo */
.wpreloader_logo {
    position: relative;
    width: 210px;
    height: 75px;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}
.wpreloader_logo > ul,
.wpreloader_logo > ul > li {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none !important;
}
.wpreloader_logo > ul {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 36% !important;
    background-size: 100%;
}
.wpreloader_logo > ul > li,
.wpreloader_logo > ul > li > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wpreloader_logo > ul > li {
    width: 57%;
}
.wpreloader_logo > ul > li + li {
    left: 43%;
}
.wpreloader_logo > ul > li > span:first-child:before,
.wpreloader_logo > ul > li > span + span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 77%;
    height: 36%;
    background-color: #ff1800;
    border-radius: 1000px;
}
.wpreloader_logo > ul > li + li span:first-child:before {
    width: 75%;
}
.wpreloader_logo > ul > li span:first-child:before {
    /* width: 78%; */
    -webkit-animation: wlogo_before ease-in-out infinite;
    -moz-animation: wlogo_before ease-in-out infinite;
    -ms-animation: wlogo_before ease-in-out infinite;
    animation: wlogo_before ease-in-out infinite;
}
.wpreloader_logo > ul > li span + span:after {
    width: 76%;
    -webkit-animation: wlogo_after ease-in-out infinite;
    -moz-animation: wlogo_after ease-in-out infinite;
    -ms-animation: wlogo_after ease-in-out infinite;
    animation: wlogo_after ease-in-out infinite;
}
.wpreloader_logo > ul > li:first-child span:first-child {
    -webkit-animation: wlogo_span_a ease-in-out infinite;
    -moz-animation: wlogo_span_a ease-in-out infinite;
    -ms-animation: wlogo_span_a ease-in-out infinite;
    animation: wlogo_span_a ease-in-out infinite;
}
.wpreloader_logo > ul > li:first-child span + span {
    -webkit-animation: wlogo_span_b ease-in-out infinite;
    -moz-animation: wlogo_span_b ease-in-out infinite;
    -ms-animation: wlogo_span_b ease-in-out infinite;
    animation: wlogo_span_b ease-in-out infinite;
}
.wpreloader_logo > ul > li + li span:first-child {
    -webkit-animation: wlogo_span_c ease-in-out infinite;
    -moz-animation: wlogo_span_c ease-in-out infinite;
    -ms-animation: wlogo_span_c ease-in-out infinite;
    animation: wlogo_span_c ease-in-out infinite;
}
.wpreloader_logo > ul > li + li span + span {
    -webkit-animation: wlogo_span_d ease-in-out infinite;
    -moz-animation: wlogo_span_d ease-in-out infinite;
    -ms-animation: wlogo_span_d ease-in-out infinite;
    animation: wlogo_span_d ease-in-out infinite;
}
.wpreloader_logo > ul > li span:first-child:before,
.wpreloader_logo > ul > li span + span:after,
.wpreloader_logo > ul > li:first-child span:first-child,
.wpreloader_logo > ul > li:first-child span + span,
.wpreloader_logo > ul > li + li span:first-child,
.wpreloader_logo > ul > li + li span + span {
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
    -ms-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    animation-direction: alternate;
}
/* wlogo_before */
@-webkit-keyframes wlogo_before {
    0%, 30% {-webkit-transform: rotate(45.5deg) translate(11%,88%);}
    100% {-webkit-transform: rotate(-45.5deg) translate(-26%,37%);}
}
@-moz-keyframes wlogo_before {
    0%, 30% {-moz-transform: rotate(45.5deg) translate(11%,88%);}
    100% {-moz-transform: rotate(-45.5deg) translate(-26%,37%);}
}
@-ms-keyframes wlogo_before {
    0%, 30% {-ms-transform: rotate(45.5deg) translate(11%,88%);}
    100% {-ms-transform: rotate(-45.5deg) translate(-26%,37%);}
}
@keyframes wlogo_before {
    0%, 30% {transform: rotate(45.5deg) translate(11%,88%);}
    100% {transform: rotate(-45.5deg) translate(-26%,37%);}
}
/* wlogo_after */
@-webkit-keyframes wlogo_after {
    0%, 30% {-webkit-transform: rotate(-46deg) translate(8%,156%);}
    100% {-webkit-transform: rotate(46deg) translate(46%,-36%);}
}
@-moz-keyframes wlogo_after {
    0%, 30% {-moz-transform: rotate(-46deg) translate(8%,156%);}
    100% {-moz-transform: rotate(46deg) translate(46%,-36%);}
}
@-ms-keyframes wlogo_after {
    0%, 30% {-ms-transform: rotate(-46deg) translate(8%,156%);}
    100% {-ms-transform: rotate(46deg) translate(46%,-36%);}
}
@keyframes wlogo_after {
    0%, 30% {transform: rotate(-46deg) translate(8%,156%);}
    100% {transform: rotate(46deg) translate(46%,-36%);}
}
/* wlogo_span_a */
@-webkit-keyframes wlogo_span_a {
    0%, 30%, 100% {-webkit-transform: translateX(0%);}
    60% {-webkit-transform: translateX(-35%);}
}
@-moz-keyframes wlogo_span_a {
    0%, 30%, 100% {-moz-transform: translateX(0%);}
    60% {-moz-transform: translateX(-35%);}
}
@-ms-keyframes wlogo_span_a {
    0%, 30%, 100% {-ms-transform: translateX(0%);}
    60% {-ms-transform: translateX(-35%);}
}
@keyframes wlogo_span_a {
    0%, 30%, 100% {transform: translateX(0%);}
    60% {transform: translateX(-35%);}
}
/* wlogo_span_d */
@-webkit-keyframes wlogo_span_d {
    0%, 30%, 100% {-webkit-transform: translateX(0%);}
    60% {-webkit-transform: translateX(35%);}
}
@-moz-keyframes wlogo_span_d {
    0%, 30%, 100% {-moz-transform: translateX(0%);}
    60% {-moz-transform: translateX(35%);}
}
@-ms-keyframes wlogo_span_d {
    0%, 30%, 100% {-ms-transform: translateX(0%);}
    60% {-ms-transform: translateX(35%);}
}
@keyframes wlogo_span_d {
    0%, 30%, 100% {transform: translateX(0%);}
    60% {transform: translateX(35%);}
}
/* wlogo_span_b */
@-webkit-keyframes wlogo_span_b {
    0%, 30%, 100% {-webkit-transform: translateX(0%);}
    65% {-webkit-transform: translateX(-5.5%);}
}
@-moz-keyframes wlogo_span_b {
    0%, 30%, 100% {-moz-transform: translateX(0%);}
    65% {-moz-transform: translateX(-5.5%);}
}
@-ms-keyframes wlogo_span_b {
    0%, 30%, 100% {-ms-transform: translateX(0%);}
    65% {-ms-transform: translateX(-5.5%);}
}
@keyframes wlogo_span_b {
    0%, 30%, 100% {transform: translateX(0%);}
    65% {transform: translateX(-5.5%);}
}
/* wlogo_span_c */
@-webkit-keyframes wlogo_span_c {
    0%, 30%, 100% {-webkit-transform: translateX(0%);}
    65% {-webkit-transform: translateX(5.5%);}
}
@-moz-keyframes wlogo_span_c {
    0%, 30%, 100% {-moz-transform: translateX(0%);}
    65% {-moz-transform: translateX(5.5%);}
}
@-ms-keyframes wlogo_span_c {
    0%, 30%, 100% {-ms-transform: translateX(0%);}
    65% {-ms-transform: translateX(5.5%);}
}
@keyframes wlogo_span_c {
    0%, 30%, 100% {transform: translateX(0%);}
    65% {transform: translateX(5.5%);}
}

/****************************************************************************************************************/

.cssload-body {
    position: absolute;
    margin-left: -144px;
    left: 50%;
    animation: speeder 0.46s linear infinite;
    -o-animation: speeder 0.46s linear infinite;
    -ms-animation: speeder 0.46s linear infinite;
    -webkit-animation: speeder 0.46s linear infinite;
    -moz-animation: speeder 0.46s linear infinite;
}

.cssload-body > span {
    height: 14px;
    width: 101px;
    background: rgb(76,106,255);
    position: absolute;
    top: -55px;
    left: 173px;
    border-radius: 6px 29px 3px 0;
    top: 50%;
    left: 33%;
    transform:translate3d(-50%,-50%,0);
}
.cssload-base{
    top: 50%;
    position: absolute;
    left: 33%;
    transform:translate3d(-50%,-50%,0);
}
.cssload-base span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-right: 288px solid rgba(76,106,255,0.98);
    border-bottom: 17px solid transparent;
}

.cssload-base span:after {
    content: "";
    height: 63px;
    width: 63px;
    border-radius: 50%;
    background: rgb(76,106,255);
    position: absolute;
    right: -316px;
    top: -46px;
}

.cssload-base span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-right: 158px solid rgb(76,106,255);
    border-bottom: 46px solid transparent;
    top: -46px;
    right: -282px;
}

.cssload-face {
    position: absolute;
    height: 35px;
    width: 58px;
    background: rgb(76,106,255);
    border-radius: 58px 58px 0 0;
    transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    right: -359px;
    top: -43px;
}

.cssload-face:after {
    content: "";
    height: 35px;
    width: 35px;
    background: rgb(76,106,255);
    right: 12px;
    top: 20px;
    position: absolute;
    border-radius: 0 0 0 6px;
    transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
}

.cssload-body > span > span:nth-child(1),
.cssload-body > span > span:nth-child(2),
.cssload-body > span > span:nth-child(3),
.cssload-body > span > span:nth-child(4){
    width: 86px;
    height: 3px;
    background: rgb(76,106,255);
    position: absolute;
    animation: fazer1 0.23s linear infinite;
    -o-animation: fazer1 0.23s linear infinite;
    -ms-animation: fazer1 0.23s linear infinite;
    -webkit-animation: fazer1 0.23s linear infinite;
    -moz-animation: fazer1 0.23s linear infinite;
}

.cssload-body > span > span:nth-child(2) {
    top: 9px;
    animation: fazer2 0.46s linear infinite;
    -o-animation: fazer2 0.46s linear infinite;
    -ms-animation: fazer2 0.46s linear infinite;
    -webkit-animation: fazer2 0.46s linear infinite;
    -moz-animation: fazer2 0.46s linear infinite;
}

.cssload-body > span > span:nth-child(3) {
    top: 3px;
    animation: fazer3 0.46s linear infinite;
    -o-animation: fazer3 0.46s linear infinite;
    -ms-animation: fazer3 0.46s linear infinite;
    -webkit-animation: fazer3 0.46s linear infinite;
    -moz-animation: fazer3 0.46s linear infinite;
    animation-delay: -1.15s;
    -o-animation-delay: -1.15s;
    -ms-animation-delay: -1.15s;
    -webkit-animation-delay: -1.15s;
    -moz-animation-delay: -1.15s;
}

.cssload-body > span > span:nth-child(4) {
    top: 12px;
    animation: fazer4 1.15s linear infinite;
    -o-animation: fazer4 1.15s linear infinite;
    -ms-animation: fazer4 1.15s linear infinite;
    -webkit-animation: fazer4 1.15s linear infinite;
    -moz-animation: fazer4 1.15s linear infinite;
    animation-delay: -1.15s;
    -o-animation-delay: -1.15s;
    -ms-animation-delay: -1.15s;
    -webkit-animation-delay: -1.15s;
    -moz-animation-delay: -1.15s;
}



.cssload-longfazers {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cssload-longfazers span {
    position: absolute;
    height: 6px;
    width: 20%;
    background: rgb(76,106,255);
}

.cssload-longfazers span:nth-child(1) {
    top: 20%;
    animation: cssload-lf 0.69s linear infinite;
    -o-animation: cssload-lf 0.69s linear infinite;
    -ms-animation: cssload-lf 0.69s linear infinite;
    -webkit-animation: cssload-lf 0.69s linear infinite;
    -moz-animation: cssload-lf 0.69s linear infinite;
    animation-delay: -5.75s;
    -o-animation-delay: -5.75s;
    -ms-animation-delay: -5.75s;
    -webkit-animation-delay: -5.75s;
    -moz-animation-delay: -5.75s;
}

.cssload-longfazers span:nth-child(2) {
    top: 40%;
    animation: cssload-lf 0.92s linear infinite;
    -o-animation: cssload-lf 0.92s linear infinite;
    -ms-animation: cssload-lf 0.92s linear infinite;
    -webkit-animation: cssload-lf 0.92s linear infinite;
    -moz-animation: cssload-lf 0.92s linear infinite;
    animation-delay: -1.15s;
    -o-animation-delay: -1.15s;
    -ms-animation-delay: -1.15s;
    -webkit-animation-delay: -1.15s;
    -moz-animation-delay: -1.15s;
}

.cssload-longfazers span:nth-child(3) {
    top: 60%;
    animation: cssload-lf 0.69s linear infinite;
    -o-animation: cssload-lf 0.69s linear infinite;
    -ms-animation: cssload-lf 0.69s linear infinite;
    -webkit-animation: cssload-lf 0.69s linear infinite;
    -moz-animation: cssload-lf 0.69s linear infinite;
}

.cssload-longfazers span:nth-child(4) {
    top: 80%;
    animation: cssload-lf 0.58s linear infinite;
    -o-animation: cssload-lf 0.58s linear infinite;
    -ms-animation: cssload-lf 0.58s linear infinite;
    -webkit-animation: cssload-lf 0.58s linear infinite;
    -moz-animation: cssload-lf 0.58s linear infinite;
    animation-delay: -3.45s;
    -o-animation-delay: -3.45s;
    -ms-animation-delay: -3.45s;
    -webkit-animation-delay: -3.45s;
    -moz-animation-delay: -3.45s;
}



@keyframes fazer1 {0% {left: 0;} 100% {left: -230px;opacity: 0;}}

@-o-keyframes fazer1 {0% {left: 0;} 100% {left: -230px;opacity: 0;}}

@-ms-keyframes fazer1 {0% {left: 0;} 100% {left: -230px;opacity: 0;}}

@-webkit-keyframes fazer1 {0% {left: 0;} 100% {left: -230px;opacity: 0;}}

@-moz-keyframes fazer1 {0% {left: 0;} 100% {left: -230px;opacity: 0;}}

@keyframes fazer2 {0% {left: 0;} 100% {left: -288px;opacity: 0;}}

@-o-keyframes fazer2 {0% {left: 0;} 100% {left: -288px;opacity: 0;}}

@-ms-keyframes fazer2 {0% {left: 0;} 100% {left: -288px;opacity: 0;}}

@-webkit-keyframes fazer2 {0% {left: 0;} 100% {left: -288px;opacity: 0;}}

@-moz-keyframes fazer2 {0% {left: 0;} 100% {left: -288px;opacity: 0;}}

@keyframes fazer3 {0% {left: 0;} 100% {left: -144px;opacity: 0;}}

@-o-keyframes fazer3 {0% {left: 0;} 100% {left: -144px;opacity: 0;}}

@-ms-keyframes fazer3 {0% {left: 0;} 100% {left: -144px;opacity: 0;}}

@-webkit-keyframes fazer3 {0% {left: 0;} 100% {left: -144px;opacity: 0;}}

@-moz-keyframes fazer3 {0% {left: 0;} 100% {left: -144px;opacity: 0;}}

@keyframes fazer4 {0% {left: 0;} 100% {left: -431px;opacity: 0;}}

@-o-keyframes fazer4 {0% {left: 0;} 100% {left: -431px;opacity: 0;}}

@-ms-keyframes fazer4 {0% {left: 0;} 100% {left: -431px;opacity: 0;}}

@-webkit-keyframes fazer4 {0% {left: 0;} 100% {left: -431px;opacity: 0;}}

@-moz-keyframes fazer4 {0% {left: 0;} 100% {left: -431px;opacity: 0;}}

@keyframes speeder {
    0% { transform: translate(6px, 3px) rotate(0deg); }
    10% { transform: translate(-3px, -9px) rotate(-1deg); }
    20% { transform: translate(-6px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 6px) rotate(0deg); }
    40% { transform: translate(3px, -3px) rotate(1deg); }
    50% { transform: translate(-3px, 9px) rotate(-1deg); }
    60% { transform: translate(-3px, 3px) rotate(0deg); }
    70% { transform: translate(9px, 3px) rotate(-1deg); }
    80% { transform: translate(-6px, -3px) rotate(1deg); }
    90% { transform: translate(6px, 3px) rotate(0deg); }
    100% { transform: translate(3px, -6px) rotate(-1deg); }
}

@-o-keyframes speeder {
    0% { -o-transform: translate(6px, 3px) rotate(0deg); }
    10% { -o-transform: translate(-3px, -9px) rotate(-1deg); }
    20% { -o-transform: translate(-6px, 0px) rotate(1deg); }
    30% { -o-transform: translate(3px, 6px) rotate(0deg); }
    40% { -o-transform: translate(3px, -3px) rotate(1deg); }
    50% { -o-transform: translate(-3px, 9px) rotate(-1deg); }
    60% { -o-transform: translate(-3px, 3px) rotate(0deg); }
    70% { -o-transform: translate(9px, 3px) rotate(-1deg); }
    80% { -o-transform: translate(-6px, -3px) rotate(1deg); }
    90% { -o-transform: translate(6px, 3px) rotate(0deg); }
    100% { -o-transform: translate(3px, -6px) rotate(-1deg); }
}

@-ms-keyframes speeder {
    0% { -ms-transform: translate(6px, 3px) rotate(0deg); }
    10% { -ms-transform: translate(-3px, -9px) rotate(-1deg); }
    20% { -ms-transform: translate(-6px, 0px) rotate(1deg); }
    30% { -ms-transform: translate(3px, 6px) rotate(0deg); }
    40% { -ms-transform: translate(3px, -3px) rotate(1deg); }
    50% { -ms-transform: translate(-3px, 9px) rotate(-1deg); }
    60% { -ms-transform: translate(-3px, 3px) rotate(0deg); }
    70% { -ms-transform: translate(9px, 3px) rotate(-1deg); }
    80% { -ms-transform: translate(-6px, -3px) rotate(1deg); }
    90% { -ms-transform: translate(6px, 3px) rotate(0deg); }
    100% { -ms-transform: translate(3px, -6px) rotate(-1deg); }
}

@-webkit-keyframes speeder {
    0% { -webkit-transform: translate(6px, 3px) rotate(0deg); }
    10% { -webkit-transform: translate(-3px, -9px) rotate(-1deg); }
    20% { -webkit-transform: translate(-6px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(3px, 6px) rotate(0deg); }
    40% { -webkit-transform: translate(3px, -3px) rotate(1deg); }
    50% { -webkit-transform: translate(-3px, 9px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 3px) rotate(0deg); }
    70% { -webkit-transform: translate(9px, 3px) rotate(-1deg); }
    80% { -webkit-transform: translate(-6px, -3px) rotate(1deg); }
    90% { -webkit-transform: translate(6px, 3px) rotate(0deg); }
    100% { -webkit-transform: translate(3px, -6px) rotate(-1deg); }
}

@-moz-keyframes speeder {
    0% { -moz-transform: translate(6px, 3px) rotate(0deg); }
    10% { -moz-transform: translate(-3px, -9px) rotate(-1deg); }
    20% { -moz-transform: translate(-6px, 0px) rotate(1deg); }
    30% { -moz-transform: translate(3px, 6px) rotate(0deg); }
    40% { -moz-transform: translate(3px, -3px) rotate(1deg); }
    50% { -moz-transform: translate(-3px, 9px) rotate(-1deg); }
    60% { -moz-transform: translate(-3px, 3px) rotate(0deg); }
    70% { -moz-transform: translate(9px, 3px) rotate(-1deg); }
    80% { -moz-transform: translate(-6px, -3px) rotate(1deg); }
    90% { -moz-transform: translate(6px, 3px) rotate(0deg); }
    100% { -moz-transform: translate(3px, -6px) rotate(-1deg); }
}

@keyframes cssload-lf {
    0% {left: 200%;}
    100% {left: -200%;opacity: 0;}
}

@-o-keyframes cssload-lf {
    0% {left: 200%;}
    100% {left: -200%;opacity: 0;}
}

@-ms-keyframes cssload-lf {
    0% {left: 200%;}
    100% {left: -200%;opacity: 0;}
}

@-webkit-keyframes cssload-lf {
    0% {left: 200%;}
    100% {left: -200%;opacity: 0;}
}

@-moz-keyframes cssload-lf {
    0% {left: 200%;}
    100% {left: -200%;opacity: 0;}
}