@font-face {
    font-family: Proxima Nova Regular;
    src: url(proximanova-reg-webfont.ttf);
}
@font-face {
    font-family: Proxima Nova Light;
    src: url('Proxima Nova Light.otf'),
         url('ProximaNova-Light.woff') format('woff');
}
@font-face {
    font-family: Proxima Nova Bold;
    src: url('Proxima Nova Bold.otf');
}


@font-face {
    font-family: Open Sans Regular; 
    src: url(OpenSans-Regular.ttf);
}
@font-face {
    font-family: Open Sans Light; 
    src: url(OpenSans-Light.ttf);
}
@font-face {
    font-family: Open Sans Semibold; 
    src: url(OpenSans-Semibold.ttf);
}


@font-face {
    font-family: Futura PT Heavy; 
    src: url(FuturaPTHeavy.otf),
         url('FuturaPT-Heavy.woff2') format('woff2'),
         url('FuturaPT-Heavy.woff') format('woff');
}


@font-face {
    font-family: Raleway Light; 
    src: url(Raleway-Light.ttf);
}
@font-face {
    font-family: Raleway ExtraBold; 
    src: url(Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: Proba Pro Light; 
    src: url(ProbaProLight.otf);
}
@font-face {
    font-family: Proba Pro Bold; 
    src: url(ProbaProBold.otf);
}

@font-face {
    font-family: Roboto Regular; 
    src: url(Roboto-Regular.ttf),
         url('Roboto-Regular.woff2') format('woff2'),
         url('Roboto-Regular.woff') format('woff');
} 