/*=======================BASIC=======================*/
@media screen and (max-width: 1239px) {
	
	.head-lower__inner {
		justify-content: space-around;
	}
	.head-lower__description {
		display:  none;
	}




	.head-menu a {
		font-size: 12px;		
	}
	.head-menu li {
		padding: 12px 16px;
	}
	.head-menu li.scroll {
		padding: 10px 5px;
	}
	.menu-button-scroll a {
		padding: 6px;
	}




	.slider-text h2,
	.slider-text h3 {
		font-size: 46px;
	}
	.slider-text p {
		font-size: 16px;
		width: 350px;
	}
	.slider-button a {
		font-size: 14px;
		padding: 16px 50px;
		top: 20px;
	}
	.slider-button a:active {
		top: 22px;
	}




	.advantages h2 {
		font-size: 36px;
	}
	.advantages p {
		font-size: 16px;
		width: 186px;
	}
	.advantages__tile {
		margin: 20px 6px;
	}
	.advantages-window {
		width: 412px;
	}
	.advantages h3 {
		font-size: 32px;
	}
	.advantages__button a {
		bottom: 130px;
	}
	.advantages__button a:active {
		bottom: 128px
	}




	.footer-logo {
		flex-basis: 200px;
	}
	.footer__contacts ul {
		font-size: 16px;
	}




	ul.faqs-list {
    margin: 16px 0px 0px;
	}




	.our-servicesBlock {
    width: 252px;
	}
	.our-services__icon {
		width: 63px;
		height: 63px;
    	bottom: -30px;
	}
	.our-services__icon img {
		transform: scale(0.85);
	}
	.our-services__title {
		font-size: 18px;
		margin: 50px 0px 0px;
	}
	.our-services__description {
		font-size: 13px;
    	margin: 20px 0px 35px;
	}
	.our-services__photo__inner {
		height: 172px;
	}




	.usluga {
		font-size: 14px;
	}
	.usluga-text:before {
		top: 0%;
	}
	.why-iconsBlock {
    flex-basis: 200px;
	}
	.why__description {
		font-size: 18px;
	}
	.why__icon {
		width: 128px;
		height: 128px;
	}
	.why__icon img {
		transform: scale(0.9);
	}




	.footer__copyright {
		width: 240px;
	}



	.contacts__inner {
		width: 65%;
	}
	.contacts__title {
		max-width: 250px;
	}
	.contacts__form {
		width: 35%;
	}
	.contacts__form:before {
		padding-right: 25px; 
	}




	.news__item__bot__title {
    	font-size: 18px;
    }
    .news__item__top__date__num {
    	font-size: 28px;
    }
    .news__item__top__date {
    	width: 70px;
    	height: 70px;
    	top: 10px;
    }
    .more__button {
	    margin: 0px auto 40px;
	}




	.portfolio__menu li {
		margin: 12px 0px;
	}
	.portfolio__menu a {
		font-size: 12px;
	    padding: 12px 10px;
	    border: 1px solid transparent;
	}
	.portfolio__tile {
		width: 265px;
		height: 226px;
	}
	.portfolio__text {
	    padding: 40px 20px 0;
	}
	.portfolio__title {
		font-size: 16px
	}




	table.price-table th {
		padding: 20px 30px;
	}
	table.price-table td {
		padding: 25px 30px;
	}
}





@media screen and (max-width: 1023px) {
	
	.head-upper__location {
		font-size: 12px;
	}
	.wrapper-lang {
		font-size: 11px;
	}

	


	.head-lower__logo {
		flex-basis: 200px;
	}
	.head-lower__order-but a {
		font-size: 10px;
		padding: 15px;
	}
	.head-lower__call {
	    align-self: center;
	}
	.head-lower__call-numbers a {
		font-size: 14px;
		margin: 0 5px;
	}
	.head-lower__call span {
		font-size: 16px;
	}
	.head-lower__call--popup a {
		font-size: 12px;
	}
	.head-menu a {
		font-size: 10px;		
	}
	.head-menu li {
		padding: 12px 8px;
	}
	.head-menu li:before {
		height: 15px;
	}




	.slider-text h2 {
		font-size: 32px;
		margin: 16px 0 0;
	}
	.slider-text h3 {
		font-size: 32px;
		margin: 0 0 16px;
	}
	.slider-text p {
		font-size: 14px;
		margin: 0;
		width: 300px;
	}
	.slider-button a {
		padding: 12px 36px;
		font-size: 12px;
	}




	.services {
	    padding: 10px 0px 25px;
	}
	.services h2 {
		font-size: 32px;
	}
	.services p {
	    font-size: 18px;
	    margin: 25px 0;
	}
	.services__tile {
		margin-top: 10px;
	}
	.services__image {
	    width: 128px;
	    height: 128px;
	}
	.services__image img {
		max-width: 40%;
		max-height: 40%;
	}
	.services__button {
		width: 255px;
	    margin: 50px auto;
	}
	.services__button a {
		padding: 12px 48px;
		top: 25px;
	}
	.services__button a:active {
		top: 27px;
	}





	.video-block {
		padding: 50px 0;
	}
	.video-block h2 {
		font-size: 26px;
	}
	.video-block a {
		font-size: 14px;
	}




	.advantages {
		background-position: 0 100%;
		background-size: 2400px;
	}
	.advantages-city {
		background-position: 55% 100%;
	}
	.advantages h2 {
		font-size: 32px;
	}
	.advantages p {
		font-size: 14px;
		width: 165px;
	}
	.advantages__tile {
		margin: 10px 5%;
		width: 40%;
	}
	.advantages__tile--left {
		flex-direction: row-reverse;
	}
	.advantages__tile--left p {
		text-align: right;
	}
	.advantages__image {
		margin: 0 10px;
	}
	.advantages h3 {
		font-size: 28px;
		margin-bottom: 135px;
	}
	.advantages__button {
		width: 278px;
	}
	.advantages__button a {
		font-size: 14px;
		padding: 16px 24px;
		bottom: 100px;
		letter-spacing: 0px;
	}
	.advantages__button a:active {
		bottom: 98px
	}




	.articles h4 {
		font-size: 24px;
	}
	.articles p {
		font-size: 14px;
		margin: 0px 0px 2px;
	}
	.news__text {
		margin-left: 80px;
	}
	.news {
		margin-bottom: 30px;
	}
	.project {
		height: 82px;
		margin-bottom: 20px;
	}
	.project-image {
		width: 120px;
		height: 82px;
	}
	.project__text {
		margin-left: 130px;
	}
	.articles a {
		font-size: 11px;
	}
	.articles__button {
		width: 158px;
		height: 158px;
		border: 12px solid #fcda41;
		margin: 18px 0px;
	}
	.articles__button p {
		font-size: 20px;
		width: 140px;
	}
	.articles__email {
		margin: 0px 0px 10px;
	}
	.articles__email img {
		margin: 0px 10px;
	}
	.articles__email p {
		font-size: 12px;
	}
	.articles__call img {
		margin: 0px 10px;
	}
	.articles__call a {
		font-size: 12px;
	}
	.articles__news:after,
	.articles__projects:after {
		height: 380px;
		left: 90%;
	}


	

	.seo {
		padding: 5px 5% 15px;
	}
	.seo h3 {
	    font-size: 24px;
	}




	.page-footer__inner {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.footer-navigation {
		display: none;
	}
	.page-footer h6 {
		font-size: 14px;
	}
	.footer__copyright {
		width: 205px;
		margin: 20px 0px;
	}
	.footer__contacts ul {
		font-size: 14px;
	}
	.footer__contacts img {
		margin-right: 10px;
	}
	.footer__social p {
		font-size: 14px;
	}
	.footer__icons img {
		width: 36px;
		margin: 0px 4px 0px;
	}




	.breadcrumbs {
		margin-top: 36px;
	}
	.page-title h1 {
		font-size: 32px;
		margin: 16px 0px 32px;
	}




	.faqs-list li {
		font-size: 24px;
	}
	.faqs-list__title {
		padding: 15px 20px 15px 20px;
	}




	.our-servicesBlock {
    	width: 211px;
	}
	.our-services__icon {
		width: 52px;
		height: 52px;
    	bottom: -25px;
	}
	.our-services__icon img {
		transform: scale(0.7);
	}
	.our-services__title {
		font-size: 16px;
		margin: 35px 0px 0px;
	}
	.our-services__description {
		font-size: 12px;
    	margin: 15px 0px 25px;
	}
	.our-services__button {
		margin: 20px auto 0px;
	}
	.our-services__photo__inner {
		height: 144px;
	}




	.contacts {
    	margin-bottom: 50px;
	}
	.contacts-wrapper {
    display: block;
	}
	.contacts-inner {
		width: 100%;
	}
	.contacts__form {
		display: none;
	}
	.contacts__title {
		font-size: 14px;
	  margin: 0 0 15px;	
	  max-width: 100%;
	}
	.contacts__description {
		font-size: 14px;
		margin: 0 0 35px;
	}
	.contacts__ul {
		margin-bottom: 40px;
		align-items: center;
	}
	.contacts ul {	
		font-size: 16px; 	
	}




	.usluga-back {
		height: 300px;
	}
	.usluga-icon {
		width: 154px;
		height: 154px;
	}
	.usluga-icon img {
	    transform: scale(0.9);
	}
	.usluga-text:before {
		display: none;
	}
	.why-iconsBlock {
    flex-basis: 250px;
	}
	.why__title {
		font-size: 32px;
	}
	.why__description {
    font-size: 16px;
    margin-bottom: 35px;
	}




	.warning {
		font-size: 16px;
	}




	.news__item--basic {
		width: 33%;
		min-width: auto;
		margin-bottom: 10px;
	}
	.more__button {
		width: 220px;
	}
	.more__button a {
		font-size: 14px;
		padding: 14px 50px;
	}




	.similar__title {
		padding: 44px 0;
		font-size: 32px;
	}
	.news__item__top__date {
	    width: 63px;
    	height: 63px;
	}
	.news__item__top__date__num {
	    font-size: 24px;
	}
	.news__item__top__date__text {
		font-size: 12px;	
	}
	.news__item__bot__title {
	    font-size: 16px;
	}
	.news__item__bot__text {
    	font-size: 12px;
    }




	.head-menu li.scroll {
		padding: 6px;
	}
	.menu-button-scroll a {
		letter-spacing: 0px;
	}



	
	.services__image svg {
		max-width: 35%;
	}	
	.our-services__icon svg {
		max-width: 50%;
	}
}




@media screen and (max-width: 880px) {
	.head-menu li.scroll {
	    padding: 6px 4px;
	}
	.head-menu a {
	    font-size: 9px;
	}
	.menu-button-scroll a {
	    padding: 6px;
	}
}





@media screen and (max-width: 768px) {
	
	.head-upper__inner {
		padding: 3px 5px;
	}
	.head-upper__location {
		font-size: 11px;
	}




	.head-lower__inner {
		padding: 5px 0px;
	}
	.head-lower__inner>* {
		margin: 0 10px;
	}
	.head-lower__order-but a {
		font-size: 9px;
		padding: 6px 12px;
	}
	.head-lower__call {
		align-items: flex-start;
		width: 210px;
	}
	.head-lower__call-numbers a {
		font-size: 12px;
		margin: 0px;
	}
	.head-lower__call span {
		font-size: 12px;
	}
	.head-lower__call--popup a {
		font-size: 11px;
	}




	.head-menu li {
		padding: 8px 5px;
	}
	.head-menu li:before {
		top: 11px;
	}
	.head-menu a {
		font-size: 9px;
	}	




	.page-container {
		margin-top: 136px;
	}




	.slider-block {
		background-color: #2c3d4e;
	}
	.slider img {
		display: none;
	}
	.slider-text {
		position: relative;
		margin: 0 auto;
		text-align: center;
	}
	.slider-text h2{
		margin: 0px;
		font-size: 24px;
		padding: 12px 0px 0px;
		max-height: 100%;
		overflow: visible;
	}
	.slider-text h3 {
		font-size: 24px;
		padding: 0px 0px 12px;
		margin: 0;
	}
	.slider-text p {
		font-size: 12px;
		max-height: 100%;
		overflow: visible;
		max-width: 400px;
		margin: 0 auto;
	}
	.slider-button {
	    margin: 0 auto;
    	padding: 20px 0px;
	}
	.slider-button a {
		font-size: 11px;
		padding: 8px 20px;
		position: static;
	}




	.services {
		padding: 5px 0 15px;
	}
	.services h2 {
		font-size: 28px;
	}
	.services p {
		font-size: 16px;
		margin: 15px 0;
	}
	.services__image {
    width: 106px;
    height: 106px;
	}
	.services__image img {
		max-width: 40%;
		max-height: 40%;
	}
	.services__button {
		width: 190px;
	}
	.services__button a {
		font-size: 12px;
		padding: 10px 32px;
	}



	.video-block {
		padding: 30px 0;
	}
	.video-block h2 {
		font-size: 22px;
	}
	.video-block a {
		font-size: 12px;
	}




	.advantages {
		background-size: 1640px;
	}
	.advantages h2 {
		font-size: 24px;
		padding-top: 24px;
	}
	.advantages h3 {
		font-size: 22px;
		margin-bottom: 115px;
	}
	.advantages p {
		font-size: 14px;
	}
	.advantages__tile {
    margin: 10px 0%;
    width: 50%;
	}
	.advantages__image {
    width: 50px;
    height: 50px;
	}
	.advantages__image img {
		width: 25px;
	}
	.advantages__button {
    	width: 185px;
	}
	.advantages__button a {
		font-size: 11px;
		padding: 10px;
		bottom: 95px;
	}
	.advantages__button a:active {
		bottom: 93px;
	}




	.articles h4 {
		font-size: 22px;
	}
	.articles p {
		font-size: 12px;
	}
	.news {
		margin-bottom: 24px;
	}
	.news__date {
		font-size: 12px;
		width: 64px;
		height: 64px;
	}
	.news__date span {
		font-size: 24px;
		line-height: 35px;
	}
	.news__text {
		margin-left: 75px;
	}
	.project {
		height: 69px;
		margin-bottom: 12px;
	}
	.project-image {
		width: 100px;
		height: 69px;
	}
	.project__text {
		margin-left: 110px;
	}
	.articles__news,
	.articles__projects {
		width: 50%;
	}
	.articles__news:after,
	.articles__projects:after {
		display: none;
	}
	.articles__info {
		display: none;
	}




	.seo {
		padding: 0px 3% 5px;
	}
	.seo h3 {
    font-size: 22px;
    padding-top: 15px;	
	}




	.footer__address {
		display: none;
	}




	.page-title h1 {
    font-size: 24px;
    margin: 12px 0px 24px;
	}
	.faqs-list li {
    font-size: 20px;
	}
	.faqs-list__title {
    padding: 10px 20px 10px 20px;
	}
	.faqs-list__description {
		font-size: 14px;
	}




	.our-services__button {
		width: 190px;
	}
	.our-services__button a {
		font-size: 12px;
		padding: 10px 32px;
	}




	.contacts {
    margin-bottom: 40px;
	}
	.contacts__title {
    	width: 200px;
		font-size: 12px;
    	margin: 0 0 12px;
	}
	.contacts__description {
		font-size: 12px;
		width: 190px;
	}
	.contacts__ul {
		margin-bottom: 30px;
	}
	.contacts ul {
		font-size: 14px;
	}
	.contacts__ul img {
    margin-right: 10px;
	}
	.contacts__social img {
    transform: scale(0.75);
	}
	.contacts__social img:hover {
		transform: scale(1);
	}




	.usluga {
		font-size: 12px;
	}
	.usluga-back {
		flex-direction: column;
		justify-content: center;
	}
	.usluga-icon {
    width: 130px;
    height: 130px;
	}
	.usluga-icon img {
		transform: scale(0.75);
	}
	.usluga-text {
		text-align: center;
		width: 100%;
	}
	.usluga-text p {
  	padding: 0px 20px;
	}
	.why-iconsBlock {
    flex-basis: 260px;
	}





	
	.warning {
		font-size: 14px;
	}



	.news__item--basic {
	    width: 50%;
	}
	.news__item--similar {
		width: 50%;
	}
	.news__item__top__date__num {
		font-size: 24px;
	}
	.news__item__top__date__text {
		font-size: 12px;
	}
	.news__item__top__date {
	    top: 5px;
	    left: 5px;
	    width: 60px;
	    height: 60px;
	}
	.news__item__bot__title {
    	font-size: 16px;
    }
    .more__button {
		width: 185px;
	}
    .more__button a {
	    font-size: 12px;
	    padding: 10px 40px;
	    letter-spacing: 0px;
	}




	.portfolio__menu a {
		font-size: 11px;
		padding: 10px 10px;
	}
	.portfolio__menu li {
	    margin: 10px 0px;
	}
	.portfolio__tile {
		width: 221px;
		height: 188px;
	}
	.portfolio__title {
		font-size: 14px;
	}
	.portfolio__description {
		font-size: 12px;
	}




	.similar__title {
	    padding: 36px 0;
	    font-size: 24px;
	}



	table.price-table {
		margin-bottom: 12px;
	}
	table.price-table th {
		font-size: 14px;
		padding: 14px 20px;
	}
	table.price-table td {
		font-size: 12px;
		padding: 12px 20px;
	}
}




@media screen and (max-width: 690px) {
	.head-lower__call {
		width: 120px;
	}
}




@media screen and (max-width: 768px) {
	.head-upper,
	.head-lower,
	.head-menu {
		display: none;
	}
	.menu-media {
		position: fixed;
		width: 100%;
		z-index: 100;
		background: #ffffff;
		box-shadow: 1px 0px 5px rgba(0, 0, 0, .5);
	}
	.slider-block {
    	margin-top: 36px;
	}

	.menu-media__menu,
	.menu-media__calc,
	.menu-media__lang,
	.menu-media__call {
		display: block;
	}
	.menu-media+ul {
		display: none;
	}

	.menu-media__menu-div {
		width: 160px;
		display: none;
		position: absolute;
		top: 47px;
		left: 0px;
		background: #2c3d4e;
		z-index: 500;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
		padding: 0 10px;
	}
	.menu-media__menu-div li {
		display: block;	
		border-bottom: 1px solid #ffffff;
	}
	.menu-media__menu-div li:last-child {
		border-bottom: none;
	}
	.menu-media__menu-div ul {
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.menu-media__menu-div li {
		padding: 8px 5px;
	}
	.menu-media__menu-div a {
		font-size: 11px;
		color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
	}
	.menu-media__menu-div a:hover {
		text-decoration: underline;
    text-shadow: 0px 0px 1px #666666;
    transition: 0.3s;
	}
	.menu-media__menu-div a:active {
    color: #fcd82a;
	}
	.menu-media__menu-div li:before {
		display: none;
	}

	.menu-media__lang-div {
		width: 100px;
		display: none;
		position: absolute;
		top: 47px;
		right: 0px;
		background: #2c3d4e;
		z-index: 500;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
		padding: 0 10px;
	}
	.menu-media__lang-div ul {
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.menu-media__lang-div li {
		display: block;
		border-bottom: 1px solid #ffffff;
		padding: 8px 5px;
	}
	.menu-media__lang-div li:last-child {
		border-bottom: none;
	}
	.menu-media__lang-div li:before {
		display: none;
	}
	.menu-media__lang-div a {
		font-size: 11px;
		color: #ffffff;
		text-decoration: none;
    text-transform: uppercase;
    font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
	}
	.menu-media__lang-div a:hover {
		text-decoration: underline;
    text-shadow: 0px 0px 1px #666666;
    transition: 0.3s;
	}
	.menu-media__lang-div a:active {
    color: #fcd82a;
	}

	.menu-media__call-div {
		width: 160px;
		display: none;
		position: absolute;
		top: 47px;
		right: 0px;
		background: #2c3d4e;
		z-index: 500;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
		padding: 0 10px;
	}
	.menu-media__call-div ul {
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.menu-media__call-div li {
		display: block;
		border-bottom: 1px solid #ffffff;
		padding: 8px 5px;
	}
	.menu-media__call-div a {
		font-size: 11px;
		color: #ffffff;
		text-decoration: none;
    text-transform: uppercase;
    font-family: Proxima Nova Bold, Geneva, Arial, Helvetica, sans-serif;
	}
	.menu-media__call-div a:hover {
		text-decoration: underline;
    text-shadow: 0px 0px 1px #666666;
    transition: 0.3s;
	}
	.menu-media__call-div a:active {
    color: #fcd82a;
	}
	.menu-media__call-div>* {
		padding: 8px 0px;
	}
	.menu-media__call-div>*:first-child {
		border: none;
	}
	.menu-media__number {
		border-top: 1px solid #ffffff;
	}
	.menu-media__number {
		text-align: center;
	}
	.menu-media__button a {
		background-color: #fcd82a;
    color: #000000;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    padding: 4px 8px;
	}
	.menu-media__button a:hover {
    background-color: #fc942c;
    transition: 0.3s;
	}
	.menu-media__button a:active {
		background-color: #fc2c2c;
	}




	.page-container {
		position: relative;
		margin-top: 37px;
	}




	.footer__contacts {
		display: none;
	}




	.why-iconsBlock {
    flex-basis: 190px;
	}
	.why__title {
    font-size: 24px;
	}
	.why__description {
    font-size: 14px;
    margin-bottom: 28px;
	}
	.why__icon {
    width: 106px;
    height: 106px;
	}
	.why__icon img {
		transform: scale(0.75);
	}
}






@media screen and (max-width: 500px) {
	.head-upper__inner {
		justify-content: flex-end;
	}
	.head-upper__location {
		display: none;
	}
}




@media screen and (max-width: 480px) {
	
	
	.slider-text h2,
	.slider-text h3 {
		font-size: 20px;
	}
	.slider-text p {
		max-width: 260px;
	}
	.slider-button {
		padding: 16px 0px;
	}
	.slider-button a {
		font-size: 10px;
    	padding: 6px 16px;
	}




	.services {
		padding: 0px;
	}
	.services h2 {
		font-size: 24px;
	}
	.services p {
		font-size: 12px;
		margin: 10px 0;
	}	
	.services__image {
	    width: 85px;
	    height: 85px;
	}
	.services__image img {
		max-width: 40%;
		max-height: 40%;
	}
	.services__button {
		max-width: 148px;
	}
	.services__button a {
		font-size: 10px;
		padding: 6px 20px;
	}



	.video-block {
		padding: 15px 0;
	}
	.video-block h2 {
		font-size: 20px;
	}
	.video-block a {
		font-size: 10px;
	}




	.advantages {
		background-size: 1400px;
	}
	.advantages p {
		font-size: 14px;
	    width: auto;
	}
	.advantages__image {
		margin: 0 5px;
		border: 1px solid #fcd82a;
	}
	.advantages__image img {
		width: 30px;
	}
	.advantages__image {
		width: 50px;
		height: 50px;
		margin: 0 20px;
	}
	.advantages h3 {
		font-size: 18px;
		width: auto;
		margin-bottom: 90px; 
	}
	.advantages__button {
		max-width: 165px;
	}
	.advantages__button a {
		font-size: 10px;
		padding: 8px; 
		bottom: 80px;
	}
	.advantages__button a:active {
		bottom: 78px;
	}
	.advantages__tile {
		width: 100%;
        max-width: 80%;
    	margin: 10px auto;
	}
	.advantages__tile--right {
	    float: none;
	}
	.advantages__tile--left {
	    float: none;
	    clear: none;
	    flex-direction: row;
	}
	.advantages__tile--left p {
		text-align: left;
	}




	.articles-inner {
		display: block;
		padding: 0 2%;
	}
	.articles__news, .articles__projects {
    width: 100%;
	}
	.articles h4 {
    font-size: 20px;
    text-align: center;
	}
	.articles p,
	.articles a {
		font-size: 10px;
	}
	.news__inner,
	.project__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.news,
	.project {
    width: 48%;
    margin: 8px 1%;
	}
	.news__date {
    font-size: 10px;
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
	}
	.news__date span {
    font-size: 20px;
    line-height: 30px;
	}
	.news__text {
    margin-left: 60px;
    width: auto;
	}
	.project__text {
		margin-left: 105px;
		width: auto;
	}




	.seo h3 {
    font-size: 20px;
	}
	.seo p {
		font-size: 12px;
	}




	.page-footer__inner {
		flex-direction: column;
		padding: 0px 15px;
	}
	.page-footer__inner>* {
		margin: 0;
	}
	.footer-socials {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
	}
	.footer-logo {
		flex-basis: auto;
    max-width: 298px;
    margin: 0 auto;
	}
	.footer__copyright {
		width: auto;
		text-align: center;
		margin: 12px 0px;
		font-size: 10px;
	}
	.footer__map {
		text-align: center;
	}
	.footer__map a {
		font-size: 12px;
	}
	.footer__social p {
		font-size: 12px;
	}
	.footer__icons img {
		width: 24px;
		margin: 0px 2px;
	}




	.faqs-list__title::before {
		margin-right: 10px; 
	}
	.faqs-list li {
    font-size: 16px;
	}
	.faqs-list__description {
    font-size: 12px;
    padding: 0px 30px 30px;
	}




	.our-services__button {
		max-width: 148px;
	}
	.our-services__button a {
		font-size: 10px;
		padding: 6px 20px;
	}




	.contacts {
    margin-bottom: 30px;
	}
	.contacts__block {
		width: 100%;
		text-align: center;
	}
	.contacts__title {
		width: auto;
	}
	.contacts__description {
		width: auto;
	}
	.contacts__ul {
		width: 170px;
    margin: 0 auto 20px;
	}




	.warning {
    font-size: 12px;
    padding: 0 20px;
	}




	.why__title {
    font-size: 20px;
	}




	.usluga-icon {
	    width: 104px;
	    height: 104px;
	}
	.usluga-icon img {
		transform: scale(0.6);
	}




	.news__item--basic {
		width: 100%;
	}
	.more__button {
	    width: 165px;
	}
	.more__button a {
		padding: 6px 30px;
	}




	.portfolio__menu a {
	    font-size: 10px;
	    padding: 8px;
	}
	.portfolio__menu li {
	    margin: 8px 0px;
	}




	.similar__title {
	    padding: 28px 0;
	    font-size: 20px;
	}




	.usluga-icon svg {
		max-width: 40%;
	}




	table.price-table th {
		font-size: 12px;
		padding: 10px 5px;
	}
	table.price-table td {
		font-size: 11px;
		padding: 10px 5px;
	}
}




@media screen and (max-width: 400px) {
	.why-iconsBlock {
    flex-basis: 280px;
    margin-bottom: 10px;
	}
	.why__description {
    margin: 0px;
    flex-basis: 180px;
	}
	.why-iconsBlock {
		flex-direction: row;
	}
	.why__icon {
    width: 85px;
    height: 85px;
    margin-right: 10px;
	}
	.why__icon img {
		transform: scale(0.6);
	}




	.news__item--similar {
		width: 100%;
	}
}




@media screen and (max-width: 380px) {
	.news__inner,
	.project__inner {
		display: block;
	}
	.news,
	.project {
		margin: 20px auto;
		width: 75%;
	}
}






/*=======================FOR SECTION "SERVICES"=======================*/
@media screen and (max-width: 620px) {
	.services__tile {
		width: 48%;
		margin: 0 1%; 
	}
}




/*=======================POPUP'S WIDTH=======================*/
@media screen and (max-width: 470px) {
	.popup {
    max-width: 355px;	
	}
	.popup h4 {
		font-size: 24px;
	}
	.popup p {
		font-size: 16px;
	}
	.popup label {
		font-size: 12px;
	}
	.popup input,
	.popup textarea {
		font-size: 12px;
	}
	.popup__button a {
		font-size: 12px;
    padding: 12px;
	}
}





@media screen and (max-width: 370px) {
	.popup {
		max-width: 285px;
	}
	.popup__inputBlock {
		max-width: 240px;
	}
}




/*=======================POPUP'S HEIGHT=======================*/
@media screen and (max-height: 930px) {
	  #popup-callback button.mfp-close {
	  	top: 0px;
    	right: 0px;
    	border: none;
	  }  
}




@media screen and (max-height: 860px) {
	.popup__input {
		height: 30px;
		padding: 0px 10px;
	}
	.popup label {
		margin: 4px 0px;
		font-size: 12px;
	}
	.popup p {
		font-size: 12px;
	}
	.popup textarea {
		padding: 5px 10px;
	}
	.popup-upperBlock {
		padding: 20px 50px 0;
	}
	.popup-lowerBlock {
		padding-top: 16px;
	}
	.popup__total {
		padding: 16px 0;
	}
	.popup__button {
		padding: 20px 0;
	} 
	.popup h4 {
		font-size: 20px;
	}
}